<!DOCTYPE html>
<html>
	<head>
		<title>惠州城市职业学院高级评价系统 - 公司主页</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="styleSheet" href="css/reset.css">
		<link rel="styleSheet" href="css/index_css.css">
		<script src="js/jquery-1.11.1.js"></script>
	</head>
	<body class="body_bg">
		<div class="h_header">
			<div class="head_content">
				<div class="head_left">
					<div class="h_logo">
					</div>
				</div>
				<div class="head_right">
					<ul class="h_nav">
						<li><a href="index.html">首页</a></li>
						<li><a href="teacher.html">公司主页</a></li>
					</ul>
				</div>
				<div class="head_state">
					<ul class="h_nav">
						<li><a href="index.html">某某公司</a></li>
					</ul>
					<div class="s_user">
						<a href="">个人信息</a>
						<a href="">修改密码</a>
						<a href="">退出</a>
					</div>
				</div>
			</div>
		</div>
		<div class="hzcs_main" style="margin-top:40px">
			<div class="comp_box">
				<div class="comp_img">
					<img src="images/sj.jpg">
				</div>
				<p>十佳学生</p>
			</div>
			<div class="comp_box">
				<div class="comp_img">
					<img src="images/ygdr.jpg">
				</div>
				<p>阳光达人</p>
			</div>
			<div class="comp_box">
				<div class="comp_img">
					<img src="images/js.jpg">
				</div>
				<p>竞赛达人</p>
			</div>
			<div class="comp_box">
				<div class="comp_img">
					<img src="images/yg.jpg">
				</div>
				<p>阳光达人</p>
			</div>
			<div class="comp_box">
				<div class="comp_img">
					<img src="images/zy.jpg">
				</div>
				<p>专业达人</p>
			</div>
			<div class="comp_box">
				<div class="comp_img">
					<img src="images/cy.jpg">
				</div>
				<p>才艺达人</p>
			</div>
			<div class="comp_box">
				<div class="comp_img">
					<img src="images/sjdr.jpg">
				</div>
				<p>实践达人</p>
			</div>
			<div class="comp_box">
				<div class="comp_img">
					<img src="images/wd.jpg">
				</div>
				<p>舞蹈达人</p>
			</div>
		</div>
		<div class="footer">
			<div class="foot_content">
				<div class="foot_left">
					<span>地址：惠州市三栋镇福长岭惠州城市职业学院</span>
					<span>联系电话：0752-2829601</span>
				</div>
				<div class="foot_right">
					<span>官网：www.hzcs.com.cn</span>
				</div>
			</div>
		</div>
	</body>
</html>