
<!DOCTYPE html>
<html style="height:100%;" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>深圳朗杰信息有限公司</title>
    <meta name="keywords" content="深圳朗杰科技有限公司" />
    <meta name="description" content="深圳朗杰科技有限公司" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="Robots" content="all" />
    <script type="text/javascript">
        (function() {
            function checkWebp() {
              try {
                  return (document.createElement('canvas').toDataURL('image/webp').indexOf('data:image/webp') == 0);
              } catch (err) {
                  return false;
              }
            }
            document.cookie = 'webp=' + (checkWebp() ? 1 : 0)
        })()
    </script>
    <link rel="stylesheet" href="static/langem/css/reset_1.css">
    <link rel="stylesheet" href="static/langem/css/jquery.fullpage.min_1.css">
    <link rel="stylesheet" href="static/langem/css/animate.min_1.css">
    <link rel="stylesheet" href="static/langem/css/master_1.css">
    <link rel="stylesheet" href="static/langem/css/header_1.css">
    <link rel="stylesheet" href="static/langem/css/header_mobile_1.css">
    <link rel="stylesheet" href="static/langem/css/master_mobile_1.css" media="screen and (max-width: 1024px)">

    <link rel="stylesheet" type="text/css" href="static/langem/css/style_1.css" />
    <link rel="stylesheet" type="text/css" href="static/langem/css/hide_1.css" />
    <link rel="stylesheet" type="text/css" href="static/langem/css/jquery.ma.infinitypush_1.css" />

</head>
<body style="height:100%;overflow-x: hidden;">
<header>
    <div class="content">
        <div class="logo">
            <a href="/">
                <span class="icon-logo"></span>
            </a>
        </div>
        <div class="menu">
            <a class="menu-btn">
                <span class="icon-menu-btn"></span>
            </a>
            <div id="body">


                <div id="wrapper">
                    <nav class="menu-con" id="primary-navigation">
                        <ul>
                            <li class="home"><a href="/"><div class="cn">首页</div><div class="en">HOME</div></a></li>
                        </ul>
                        <ul>
                            <li class="solution"><a class="nav"><div class="cn">解决方案</div><div class="en">SOLUTION</div></a>
                            <div>
                            <ul class="ul">
                                    <li><a href="/zhxf" class="a_a"><span class="icon-wrp iocn-2"></span><span class="icon-name">智慧消防</span></a></li>
                                    <!--<li><a href="/zhsq" class="a_a"><span class="icon-wrp iocn-1"></span><span class="icon-name"></span></a></li>
                                    <li><a href="/zhsz" class="a_a"><span class="icon-wrp iocn-0"></span><span class="icon-name"></span></a></li>
                                    -->
                            </ul>
                            </div>
                            </li>
                        </ul>
                        <ul>
                            <li class="news"><a class="nav" href="/news"><div class="cn">行业动态</div><div class="en">NEWS</div></a>
                            </li>
                        </ul>
                        <ul>
                            <li class="about"><a class="nav" href="/about"><div class="cn">关于我们</div><div class="en">ABOUT</div></a>
                                <ul>
                                    <li><a href="/about" class="a_a">公司简介</a></li>

                                    <li><a href="/#page4" class="a_a">联系方式</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li class="join"><a class="nav" href="/manage/langem_news"><div class="cn">管理后台</div><div class="en">JOIN</div></a>
                            </li>

                        </ul>
                        <ul>
                            <li class="QRCode"><a id="window_btn_qr">二维码</a>
                                <ul id="QRCode-wrp">
                                    <span class="sjjc"></span>
                                    <div>
                                        <img src="static/langem/picture/wx_qrcode_1.jpg" width="100%">
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="main" class="swiper-container">
    <section class="section intro">
        <div class="intro-slide-wrapper">
            <div class="intro-slide current" data-index=0>
                <div class="intro-slide-bg"></div>
                <div class="text">
                    <h1>科技，构造新时代城市命运安全体</h1>
                    <h4>The value of science and technology</h4>
                    <p style="margin-bottom: 0;">朗杰透过物联网技术让你时刻紧握安全。</p>
                    <p>这是一次颠覆的革新，这是一场科技的盛筵，朗杰携AI一道，全力守护新时代的你。</p>
                    <div class="btn-wrapper">
                        <!--<button class="more-btn">了解更多</button>-->
                    </div>
                </div>
            </div>
            <div class="intro-slide" data-index=1>
                <div class="intro-slide-bg"></div>
                <div class="text">
                    <h1>多维感知 可视物联</h1>
                    <h4>Multidimensional awareness & Visual content couplet</h4>
                    <p style="margin-bottom: 0;">朗杰针对城市安全难题，迎合物联网技术发展，</p>
                    <p>利用科学技术手段集中管理，解决传统管理方式弊端，将安全管理工作智能化可视化展现出来。</p>
                    <div class="btn-wrapper">
                        <!--<button class="more-btn">了解更多</button>-->
                    </div>
                </div>
            </div>
            <div class="intro-slide" data-index=2>
                <div class="intro-slide-bg"></div>
                <div class="text">
                    <h1>朗杰遇见城市，安全还会远吗?</h1>
                    <h4>A new Urban security</h4>
                    <p style="margin-bottom: 0;">伴随着社会水平的不断提升，城市安全成为永恒的课题。</p>
                    <p style="margin-bottom: 0;">但当遇到了朗杰，隐患便无处藏身。朗杰每天都在革新，每天都在进步，每天都在突破。</p>
                    <p>学校、市政、社区……有我们的世界正在变得更安全、更幸福、更充满希望。</p>
                    <div class="btn-wrapper">
                        <!--<button class="more-btn">了解更多</button>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="intro-slide-control">
            <ul>
                <li class="left">
                    << </li>
                        <li class="right"> >></li>
                        <li class="middle">
                            <img src="static/langem/picture/mouse_1.png" width="27" height="27" title="鼠标" style="margin-top: 5px;">
                        </li>
            </ul>
        </div>
    </section>

    <!-- 第二屏 -->
    <section class="section solution  solutions">
        <div class="solution-bg">
            <div class="bg-0 current"></div>
            <div class="bg-1"></div>
            <div class="bg-2"></div>
        </div>
        <div class="title-image"></div>
        <p class="title-cn">解决方案</p>
        <p class="title-en">solution</p>
        <ul class="solution_ul">
            <li>
                <a href="/zhxf">
                    <div class="item-container">
                        <span class="item-bg">
                            <img src="static/langem/picture/solution_2_1.png" width="100%" alt="" title="">
                        </span>
                        <div class="mask"></div>
                        <div class="content" data-index="2">
                            <span class="icon-logo">
                                <img src="static/langem/picture/logo_1.png" width="100%">
                            </span>
                            <div class="text-wrapper">
                                <h3>智慧消防</h3>
                                <h4>WISDOM FIRE PROTECTIOMN</h4>
                                <span class="line"></span>
                                <div class="text_content">以朗杰向导式巡查技术为核心支撑，以SLAM技术为基础，成功构建了事前预警、事中报警、事后应急的“三步走”保障体系，实现了对消防用水、用电网络、消防设施状态的物联网智能化采集。
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-title">
                        <p class="cn">智慧消防</p>
                        <p class="en">WISDOM FIRE PROTECTIOMN</p>
                    </div>
                </a>
            </li>
            <li>
                
        </ul>
    </section>

    <!-- 第三屏 -->
    <section class="section news new_section">
        <div class="title-image"></div>
        <p class="title-cn">产品了解</p>
        <p class="title-en">NEWS ACTIVITIES</p>
        <div class="content-wrapper">

            <!--新闻列表 默认是5个-->
            <div class="content-item current" data-index="0">
                <div class="cover-wrapper">
                    <img src="static/langem/picture/tu_1_1.png" alt="" title="" width="100%" />
                </div>
                <div class="text-wrapper">
                    <h class="title">
     智慧消防综合管理平台是在多年的消防工程实践的基础上，经过仔细的需求调研，精心研制的系统级软件平台．已成为集消防系统监控、管理、服务为一体的综合性应用平台．</h>

                </div>
            </div>
            <div class="content-item " data-index="1">
                <div class="cover-wrapper">
                    <img src="static/langem/picture/tu_2_1.png" alt="" title="" width="100%" />
                </div>
                <div class="text-wrapper">
                    <h class="title">FS5116火灾报轚控制器(联动型）大型火灾报轚控制器：基于Cortex核心多CPU并行处理模式设计，368组多线控制输出，用于控制消防泵，排烟风机等重要消防设备。</br>1364组总线控制输出。极强EMC抗干扰设计和防浪涌设计。</h>
                </div>
            </div>
            <div class="content-item " data-index="2">
                <div class="cover-wrapper">
                    <img src="static/langem/picture/tu_3_1.png" alt="" title="" width="100%" />
                </div>
                <div class="text-wrapper">
                    <h class="title">WF-HD125-R3视频监控器。低照度下有出色图像还原能力。最低照度0.01Lux.红外距离10-50.支持运动侦测，遮盖侦测报警录像，图片抓拍。内嵌入Web Server.支持IE浏览视频，参数配置，升级，用户权限管理</h>
                </div>
            </div>
            <div class="content-item " data-index="3">
                <div class="cover-wrapper">
                    <img src="static/langem/picture/tu_4_1.png" alt="" title="" width="100%" />
                </div>
                <div class="text-wrapper">
                    <h class="title">国内领先、国际先进的单后向光电感烟探测技术。发明专利、实用新型专利产品、高可靠全数字总线通讯协议</h>
                </div>
            </div>
            <div class="content-item " data-index="4">
                <div class="cover-wrapper">
                    <img src="static/langem/picture/tu_5_1.png" alt="" title="" width="100%" />
                </div>
                <div class="text-wrapper">
                    <h class="title">朗杰设计开发的集中电源集中控制型消防应急标志灯具有低功耗、无极性两线制等特点.<br></br>全系列产品执行国家标准GB 17945-2010 《消防应急照明和疏散指示系统》</h>
                </div>
            </div>

            <!--轮播控制 data-index 与之对应 -->
            <div class="news-slide-wrapper">
                <a class="news-slide-prev"></a>
                <a class="news-slide-next"></a>
                <ul>
                    <li data-index="0"><img src="static/langem/picture/tu_1_1.png" alt="" width="100%" /></li>
                    <li data-index="1"><img src="static/langem/picture/tu_2_1.png" alt="" width="100%" /></li>
                    <li data-index="2"><img src="static/langem/picture/tu_3_1.png" alt="" width="100%" /></li>
                    <li data-index="3"><img src="static/langem/picture/tu_4_1.png" alt="" width="100%" /></li>
                    <li data-index="4"><img src="static/langem/picture/tu_5_1.png" alt="" width="100%" /></li>
                </ul>
            </div>
        </div>
        <div class="content-wrapper-mobile"></div>
    </section>

    <!-- 第四屏 -->
    <section class="section about_us" style="display: block">
        <ul class="address-bg-wrp">
            <li class="address-0 other">
                <div class="bg">
                    <!--<img src="picture/hangzhou_1.png" alt="">-->
                </div>
                <div class="content">
                    <h3>SHEN ZHENG</h3>
                    <div class="line"></div>
                    <p class="name">深圳朗杰信息有限公司（总部）</p>
                    <p class="address">深圳市龙华新区清祥路1号宝能科技园7栋A座18楼</p>
                    <p class="tel">电话：0755-26037033</p>
                </div>
            </li>
            <li class="address-1 other">
                <div class="bg">
                    <!--<img src="picture/nanjing_1.png" alt="">-->
                </div>
                <div class="content">
                    <h3>SHEN ZHENG</h3>
                    <div class="line"></div>
                    <p class="name">深圳朗杰信息有限公司（总部）</p>
                    <p class="address">深圳市龙华新区清祥路1号宝能科技园7栋A座18楼</p>
                    <p class="tel">电话：0755-26037033</p>
                </div>
            </li>
            <li class="address-2 other">
                <div class="bg">
                    <!--<img src="picture/guigu_1.png" alt="">-->
                </div>
                <div class="content">
                    <h3>SHEN ZHENG</h3>
                    <div class="line"></div>
                    <p class="name">深圳朗杰信息有限公司（总部）</p>
                    <p class="address">深圳市龙华新区清祥路1号宝能科技园7栋A座18楼</p>
                    <p class="tel">电话：0755-26037033</p>
                </div>
            </li>
            <li class="address-3 other">
                <div class="bg">
                    <!--<img src="picture/shanghai_1.png" alt="">-->
                </div>
                <div class="content">
                    <h3>SHEN ZHENG</h3>
                    <div class="line"></div>
                    <p class="name">深圳朗杰信息有限公司（总部）</p>
                    <p class="address">深圳市龙华新区清祥路1号宝能科技园7栋A座18楼</p>
                    <p class="tel">电话：0755-26037033</p>
                </div>
            </li>
        </ul>
        <div class="info">
            <div class="info-main">
                <div class="logo">
                    <img src="static/langem/picture/logo_1.png" alt="">
                </div>
                <div class="line"></div>
                <p>© 2018 LANGEM All Rights Reserved.　粤ICP备15110597号-1</p>
            </div>
        </div>
        <footer class="footer">
            <a href="#">解决方案</a>
            <ul>
                <li><a class="able" href="/zhxf"><span>智慧消防</span></a></li>
                <li><a class="able" href="/zhxf"><span>智慧消防</span></a></li>
            </ul>
            <a style="margin-left: 80px;" href="#">关于我们</a>
            <ul>
                <li><a class="able" href="/about"><span>公司简介</span></a></li>
                <li><a class="able" href="/#page4"><span>联系方式</span></a></li>
            </ul>

            <a style="margin-left: 80px;" class="able3" href="/casus">案例</a>
            <a class="able" href="/news">行业动态</a>
            <a class="able" href="/manage/langem_news">管理后台</a>
            <a style="margin-left: 200px; margin-right: 5px;" href="#" class="able1">服务热线:</a>
            <a style="font-size: 15px;margin-left: 0; color: #00E4FF;" class="able2">0755-82438858</a>
            <a>
                <img style="margin-top: 35px;" src="static/langem/picture/qrcode_fff_1.png" alt="右上角关注微信公众号" title="右上角关注微信公众号" width="30px">
            </a>
        </footer>
    </section>
</div>

<footer class="footers">
    <div class="info">
        <div class="logo">
            <img src="static/langem/picture/logo_1.png" alt="">
        </div>
        <div class="line"></div>
        <p>© 2018 LANGEM All Rights Reserved.　粤ICP备15110597号-1</p>
    </div>
    <div class="footer">
        <a href="#">解决方案</a>
        <ul>
            <li><a class="able" href="/zhxf"><span>智慧消防</span></a></li>
            <li><a class="able" href="/zhsq"><span></span></a></li>
            <li><a class="able" href="/zhsz"><span></span></a></li>
        </ul>
        <a style="margin-left: 80px;" href="#" class="newOurs">关于我们</a>
        <ul>
            <li><a class="able" href="/about"><span>公司简介</span></a></li>
            <li><a class="able" href="/#page4"><span>联系方式</span></a></li>
        </ul>

        <a style="margin-left: 80px;" class="able new_a1" href="/casus" >案例</a>
        <a class="able new_a2" href="/news">行业动态</a>
        <a class="able new_a3" href="manage/langem_news">管理后台</a>
        <a style="margin-left: 200px; margin-right: 5px;" href="#" class="new_a4">服务热线:</a>
        <a style="font-size: 15px;margin-left: 0; color: #00E4FF;" class="new_a5">0755-82438858</a>
        <a>
            <img style="margin-top: 35px;" src="static/langem/picture/qrcode_fff_1.png" alt="右上角关注微信公众号" title="右上角关注微信公众号" width="30px">
        </a>
    </div>
</footer>

<script src="static/langem/js/jquery.min_1.js" charset="utf-8"></script>
<script src="static/langem/js/jquery.fullpage.min_1.js" charset="utf-8"></script>
<script src="static/langem/js/index_1.js" charset="utf-8"></script>
<script type="text/javascript" src="static/langem/js/jquery-ui-1.10.2.custom.min_1.js"></script>
<script type="text/javascript" src="static/langem/js/jquery.ma.infinitypush_1.js"></script>
<script>
    $(document).ready(function(){

        function responsive() {
            if($(window).width() <= 767){
                console.log('mobile navigation');

                $('#primary-navigation').infinitypush();

                $('body').removeClass('desktop');
                $('body').addClass('mobilePhone');
            } else {
                console.log('desktop navigation');

                $('#primary-navigation').infinitypush({
                    destroy:true
                });

                $('body').addClass('desktop');
                $('body').removeClass('mobilePhone');
            }
        }

        function windowResize(){
            $(window).resize(function(){
                responsive();
            });
        }

        responsive();
        windowResize();

    });
    $("body").height( $(window).height() );

    var joinMeun = $('.join-list-meun');
    $(document).scroll(function (event) {
        var offsetTop = $(document).scrollTop();
        if (offsetTop < 450) {
            $('header').removeClass('suspend');
            $('body').removeClass('suspends')
            if (joinMeun.length !== 0 && $('.join-list-meun').hasClass('suspend')) {
                $('.join-list-meun').removeClass('suspend')
            }
        } else if (offsetTop < 500) {
            if (joinMeun.length !== 0 && $('.join-list-meun').hasClass('suspend')) {
                $('.join-list-meun').removeClass('suspend')
            }
        } else {
            $('header').addClass('suspend');
            $('body').addClass('suspends')
            if (joinMeun.length !== 0 && !($('.join-list-meun').hasClass('suspend'))) {
                $('.join-list-meun').addClass('suspend')

            }
        }
    })
    // header 样式
    $('.menu-con > li.current').removeClass('current')
    var pathname = window.location.pathname;
    console.log('当前的pathname ', pathname);
    if (pathname === '/') {
        $('.menu-con .home').addClass('current')
    } else if (['/zhsz', '/zhsq', '/zhxf'].indexOf(pathname) !== -1) {
        $('.menu-con .solution').addClass('current')
    } else if (pathname === '/casus') {
        $('.menu-con .casus').addClass('current')
    } else if (pathname === '/news') {
        $('.menu-con .news').addClass('current')
    } else if (['/about', '/zhuanli'].indexOf(pathname) !== -1) {
        $('.menu-con .about').addClass('current')
    } else if (pathname === '/join') {
        $('.menu-con .join').addClass('current')
    }
    $('.solution ul').mouseover(function(event){
        //……
        console.log(1)
        event.stopPropagation();
    })
</script>
</body>
</html>
