<!DOCTYPE html>
<html>
	<head>
		<title>惠州城市职业学院高级评价系统 - 系统简介</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="styleSheet" href="css/reset.css">
		<link rel="styleSheet" href="css/index_css.css">
	</head>
	<body>
		<div class="header">
			<div class="head_content">
				<div class="head_left">
					<div class="logo">
					</div>
				</div>
				<div class="head_right">
					<ul class="i_navbg">
						<li><a href="index.html">首页</a></li>
						<li><a class="active" href="introduce.html">系统简介</a></li>
						<li><a href="contact.html">联系我们</a></li>
						<li><a href="login.html">登录</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="hzcs_banner">
			<div class="banner_content">
				<img src="images/banner.jpg">
			</div>
		</div>
		<div class="hzcs_main">
			<div class="m_title">
				<h3>系统简介</h3>
				<p>Excellent students</p>
				<span>&nbsp;</span>
			</div>
			<p class="s_text">学生评价系统是由信息技术系网络教研室主任<span class="c_051">张凌</span>老师策划，领导开发的一个数据分析系统，于2013年6月份创建学校研发团队，带领学生先后开发了，学生评价系统1.0和1.1。它的功能有：</p>
			<p class="s_text">★学生综合素质评价结果管理：系统提供对中小学各学段评价结果的查询、审核、统计和归档等功能。</p>
			<p class="s_text">★学生异动评价数据审批：系统提供对转学、借读、休学、复学、降级、转入等异动学生综合素质评价数据的审批和查询功能。</p>
			<p class="s_text">★评价表格管理：用户可以进行表格模板管理、读写权限管理、其它高级属性设置等操作。</p>
			<p class="s_text">★评价数据录入：支持任课老师录入，班主任录入，学生自评、互评以及家长录入等在线录入或批量导入功能。</p>
			<p class="s_text">★评价内容查询和维护：用户在授权的情况下可以查阅任一学生的各项综合素质评价资料，并随时调用或添补学生的成长档案袋资料。</p>
			<p class="s_text">★评价汇总自动生成报表：系统为了有效管理和监控学生的整体综合素质评价状况，可自动为管理者生成多种实用的报表，如：评价明细表、评价等第汇总表、学生素质学期评价表等。</p>
			<p class="s_text">目前学生评价系统还在不断的完善，敬请期待。。。。。</p>
		</div>
		<div class="footer">
			<div class="foot_content">
				<div class="foot_left">
					<span>地址：惠州市三栋镇福长岭惠州城市职业学院</span>
					<span>联系电话：0752-2829601</span>
				</div>
				<div class="foot_right">
					<span>官网：www.hzcs.com.cn</span>
				</div>
			</div>
		</div>
	</body>
</html>