<!DOCTYPE html>
<html>
	<head>
		<title>惠州城市职业学院高级评价系统 - 个人简历</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="styleSheet" href="css/reset.css">
		<link rel="styleSheet" href="css/index_css.css">
	</head>
	<body class="body_bg">
		<div class="h_header">
			<div class="head_content">
				<div class="head_left">
					<div class="h_logo">
					</div>
				</div>
				<div class="head_right">
					<ul class="h_nav">
						<li><a href="index.html">首页</a></li>
						<li><a href="student.html">个人主页</a></li>
						<li><a href="resume.html">动态简历</a></li>
					</ul>
				</div>
				<div class="head_state">
					<ul class="h_nav">
						<li><a href="index.html">陈俊安</a></li>
					</ul>
					<div class="s_user">
						<a href="">个人信息</a>
						<a href="">修改密码</a>
						<a href="">退出</a>
					</div>
				</div>
			</div>
		</div>
		<div class="hzcs_main h_bgborder">
			<div class="f_left" style="margin:40px 0 0 30px;text-align:center">
				<h1>陈俊安</h1>
			</div>
			<div class="f_right" style="margin:10px 60px 0 0"><img src="images/student/C14F1501.jpg"></div>
			<div class="resume" style="height:400px">
				<div class="r_title"><img src="images/r_data.jpg"><span>基本资料</span></div>
				<ul>
					<li>姓名：陈俊安</li>
					<li>生日：1997-08-16</li>
					<li>专业：计算机网络</li>
					<li>年级：2013</li>
					<li>学号：F5380</li>
					<li>身高：165CM</li>
					<li>体重：53KG</li>
					<li>籍贯：惠州市惠城区</li>
				</ul>
				<div class="r_title"><img src="images/r_Education.jpg"><span>教育课程</span></div>
				<ul>
					<!--<li>2014 — 2017</li>!-->
					<li>soho网络搭建,网络园林搭建,计算机基础应用,ps课程,中型网络搭建等</li>
					<li>&nbsp;</li>
				</ul>
				<div class="r_title"><img src="images/r_Work.jpg"><span>社会实践</span></div>
				<ul>
					<li>2013.09 — 2014.10</li>
					<li>工作期间参与完成了十来个污水处理工程的设计与调试工作，
						能够独立完成环境工程类污水工艺设计、安装、调试。</li>
					<li>&nbsp;</li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="foot_content">
				<div class="foot_left">
					<span>地址：惠州市三栋镇福长岭惠州城市职业学院</span>
					<span>联系电话：0752-2829601</span>
				</div>
				<div class="foot_right">
					<span>官网：www.hzcs.com.cn</span>
				</div>
			</div>
		</div>
	</body>
</html>