<!DOCTYPE html>
<html>
	<head>
		<title>惠州城市职业学院高级评价系统 - 学生主页</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="styleSheet" href="css/reset.css">
		<link rel="styleSheet" href="css/index_css.css">
		<link rel="stylesheet" type="text/css" href="./bs/css/bootstrap.min.css">
		<script type="text/javascript" src="./js/ichart.1.2.1.min.js"></script>
		<link rel="stylesheet" href="./css/demo.css" type="text/css"/>
		  <link rel="stylesheet" type="text/css" href="./css/radarChart.css">
	</head>
	<body class="body_bg">

		<div class="h_header hidden-xs">
			<div class="head_content">
				<div class="head_left">
					<div class="h_logo">
					</div>
				</div>
				<div class="head_right">
					<ul class="h_nav">
						<li><a href="index.html">首页</a></li>
						<li><a href="student.html">个人主页</a></li>
						<li><a href="resume.html">动态简历</a></li>
					</ul>
				</div>
				<div class="head_state">
					<ul class="h_nav">
						<li><a href="index.html">陈俊安</a></li>
					</ul>
					<div class="s_user">
						<a href="">个人信息</a>
						<a href="">修改密码</a>
						<a href="">退出</a>
					</div>
				</div>
			</div>
		</div>


		<div class="hzcs_main h_bgborder hidden-xs">
			<div class="s_left">
				<div class="h_title" style="margin:10px 0 0 10px;">基本信息</div>
				<div class="s_photos">
					<img src="./images/student/C14F1501.jpg">
				</div>
				<div class="s_list">
					<ul>
						<li>姓名：陈俊安</li>
						<li>生日：1997-08-16</li>
						<li>专业：计算机网络</li>
						<li>年级：2013</li>
						<li>学号：F5380</li>
						<li>身高：165CM</li>
						<li>体重：53KG</li>
						<li>籍贯：惠州市惠城区</li>
					</ul>
				</div>
			</div>
			<div class="s_right">
				<div class="skill">			
	   					 <div id="radar2" class="radar"></div>
	   					 		<div id="skill_main" style="height:360px;"></div>	
				</div>
			</div>


			<div class="s_left">
				<div class="s_attr">
					<div class="h_title">个人指数</div>
					<ul>
						<li><span class="attr_text">阅读：</span>
							<span class="process-bar">
								<div class="pb-wrapper">
									<div class="pb-highlight"></div>
									<div class="pb-container">
										<div class="pb-text">94%</div>
										<div class="pb-value" style="width:94%;background:red;"></div>
									</div>
								</div>
							</span>
						</li>
						<li><span class="attr_text">写作：</span>
							<span class="process-bar">
								<div class="pb-wrapper">
									<div class="pb-highlight"></div>
									<div class="pb-container">
										<div class="pb-text">34%</div>
										<div class="pb-value" style="width:34%;background:red;"></div>
									</div>
								</div>
							</span>
						</li>
						<li><span class="attr_text">演讲：</span>
							<span class="process-bar">
								<div class="pb-wrapper">
									<div class="pb-highlight"></div>
									<div class="pb-container">
										<div class="pb-text">54%</div>
										<div class="pb-value" style="width:54%;background:red;"></div>
									</div>
								</div>
							</span>
						</li>
						<li><span class="attr_text">才艺：</span>
							<span class="process-bar">
								<div class="pb-wrapper">
									<div class="pb-highlight"></div>
									<div class="pb-container">
										<div class="pb-text">100%</div>
										<div class="pb-value" style="width:100%;background:red;"></div>
									</div>
								</div>
							</span>
						</li>
						<li><span class="attr_text">竞赛：</span>
							<span class="process-bar">
								<div class="pb-wrapper">
									<div class="pb-highlight"></div>
									<div class="pb-container">
										<div class="pb-text">64%</div>
										<div class="pb-value" style="width:64%;background:red;"></div>
									</div>
								</div>
							</span>
						</li>
						<li><span class="attr_text">沟通：</span>
							<span class="process-bar">
								<div class="pb-wrapper">
									<div class="pb-highlight"></div>
									<div class="pb-container">
										<div class="pb-text">72%</div>
										<div class="pb-value" style="width:72%;background:red;"></div>
									</div>
								</div>
							</span>
						</li>
						<li><span class="attr_text">出勤：</span>
							<span class="process-bar">
								<div class="pb-wrapper">
									<div class="pb-highlight"></div>
									<div class="pb-container">
										<div class="pb-text">14%</div>
										<div class="pb-value" style="width:14%;background:red;"></div>
									</div>
								</div>
							</span>
						</li>
						<li><span class="attr_text">社会实践：</span>
							<span class="process-bar">
								<div class="pb-wrapper">
									<div class="pb-highlight"></div>
									<div class="pb-container">
										<div class="pb-text">24%</div>
										<div class="pb-value" style="width:24%;background:red;"></div>
									</div>
								</div>
							</span>
						</li>
						<li><span class="attr_text">志愿者活动：</span>
							<span class="process-bar">
								<div class="pb-wrapper">
									<div class="pb-highlight"></div>
									<div class="pb-container">
										<div class="pb-text">44%</div>
										<div class="pb-value" style="width:44%;background:red;"></div>
									</div>
								</div>
							</span>
						</li>

					</ul>
				</div>
			</div>

			<!-- 最好成绩!-->
				<div class="s_left">
				<div class="s_attr">
					<div class="h_title">阅读指数</div>
						<div id='hyf'></div>		
				</div>
				<div class="s_attr">
					<div class="h_title">成绩指数</div>
					<div id='canvasDiv'></div>	
					<div id='canvas'></div>			
				</div>
				<div class="s_attr">
					<div class="h_title">就业指数</div>
					<table class="table table-bordered">
						<thead>
							<tr class="text-center">
								<th class="text-center" style="background:#0080FF;color:#FFECEC;border-right:1px solid #0080FF;">学生名字</th>
								<th class="text-center" style="background:#0080FF;color:#FFECEC;border-right:1px solid #0080FF;">岗位名称</th>
								<th class="text-center" style="background:#0080FF;color:#FFECEC;border-right:1px solid #0080FF;">薪资水平</th>
								<th class="text-center" style="background:#0080FF;color:#FFECEC;border-right:1px solid #0080FF;">企业评价</th>
								<th class="text-center" style="background:#0080FF;color:#FFECEC;border-right:1px solid #0080FF;">指导老师评价</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center" style="border:1px solid #0080FF;">陈俊安</td>
								<td class="text-center" style="border:1px solid #0080FF;">深圳市狼途电子商务有限公司</td>
								<td class="text-center" style="border:1px solid #0080FF;">3000</td>
								<th class="text-center" style="border:1px solid #0080FF;">90分</th>
								<th class="text-center" style="border:1px solid #0080FF;">95分</th>
							</tr>
						</tbody>
					</table>		
					</div>

			</div>
		</div>



		<div class="footer hidden-xs">
			<div class="foot_content">
				<div class="foot_left">
					<span>地址：惠州市三栋镇福长岭惠州城市职业学院</span>
					<span>联系电话：0752-2829601</span>
				</div>
				<div class="foot_right">
					<span>官网：www.hzcs.com.cn</span>
				</div>
			</div>
		</div>

<!--手机页面!-->
<div class="container-fluid">
<div class="row">
<div class="col-xs-12">
	<nav class=" navbar navbar-default navbar-fixed-top visible-xs-inline-block" style="background:#051864;">
	  	<div class="container-fluid">

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" style="background:#051864; border:none;" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <div class="h_logo">
					</div>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li ><a href="#">首页 <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">个人主页</a></li>
	         <li><a href="#">个人简历</a></li>
	          <li><a href="#">欢迎:hxy</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
</div>
	<div class="col-xs-12">
		<div class="page-header"></div>
	</div>

</div>
</div>

<div class="container-fluid visible-xs-inline-block">
		<div class="row">
		<div class="col-xs-12 col-sm-12" style="background:#fff; ">
		<div class="col-xs-4" style="background:#fff; ">
			<img src="./2013F5379林森发.jpg">
		</div>
			<div class="col-xs-8" style="background:#fff; ">
			姓名：森发狗
			</div>
			<div class="col-xs-8" style="background:#fff; ">
			专业：计算机网络
			</div>
			<div class="col-xs-8" style="background:#fff; ">
			年级：2013
			</div>
			<div class="col-xs-8" style="background:#fff; ">
			生日：1997-08-16
			</div>
		<div class="col-xs-8" style="background:#fff; ">
		学号：F5380
		</div>
	</div>	
	</div>


	<div class="row">
		<div class="col-xs-12" style="background:#fff; ">
			<div id='shuxin' ></div>
			<div id='c'></div>
			<div id='d'></div>
		</div>
	</div>
</div>


<script  src="./jquery.min.js"></script>
<script src="./bs/js/bootstrap.min.js"></script>
<script src="echarts/build/dist/echarts.js"></script>
<!--手机页面!-->
<script type="text/javascript">
				$(function(){
					var data = [
					        	{name : '电子商务',value : 100,color:'#a5c2d5'},
					        	{name : '市场营销',value : 10,color:'#cbab4f'},
					        	{name : '网页设计',value : 15,color:'#76a871'},
					        	{name : '心理健康',value : 10,color:'#9f7961'},
					        	{name : '大学英语',value : 10,color:'#a56f8f'}
				        	];
		        	
					var chart = new iChart.Column2D({
						render : 'c',
						data: data,
						title : 'strength成绩',
						width : 320,
						height : 400,
						coordinate:{
							width:280,
							height:260,
							scale:[{
								 position:'left',	
								 start_scale:0,
								 end_scale:100,
								 scale_space:10
							}]
						}
					});

					/**
					 *自定义组件,画矩形区域。
					 */
					chart.plugin(new iChart.Custom({
							drawFn:function(){
								/**
								 *计算平均值的高度(坐标Y值)
								 */	
								var avg = chart.total/5,
									coo = chart.getCoordinate(),
									x = coo.get('originx'),
									W = coo.width,
									S = coo.getScale('left'),
									H = coo.height,
									h = (avg - S.start) * H / S.distance,
									y = chart.y + H - h;

								chart.target.globalAlpha(0.2)
								.box(x,y,W,h,0,'#1f7e92')
								.globalAlpha(1)
								.textAlign('start')
								.textBaseline('middle')
								.textFont('600 12px Verdana')
						
								
							}
					}));	
						
					chart.draw();
			});
</script>
<script type="text/javascript">
				$(function(){
					var pp = [
					        	{name : '网络广告',value : 53,color:'#a5c2d5'},
					        	{name : '网络营销',value : 80,color:'#cbab4f'},
					        	{name : '创业实务',value : 60,color:'#76a871'},
					        	{name : '推销谈判',value : 18,color:'#9f7961'},
					        	{name : '策划实训',value : 12,color:'#a56f8f'}
				        	];
		        	
					var chart = new iChart.Column2D({
						render : 'd',
						data: pp,
						title : 'weakness成绩',
						width : 320,
						height : 400,
						coordinate:{
							width:320,
							height:260,
							scale:[{
								 position:'left',	
								 start_scale:0,
								 end_scale:100,
								 scale_space:10
							}]
						}
					});

					/**
					 *自定义组件,画矩形区域。
					 */
					chart.plugin(new iChart.Custom({
							drawFn:function(){
								/**
								 *计算平均值的高度(坐标Y值)
								 */	
								var avg = chart.total/5,
									coo = chart.getCoordinate(),
									x = coo.get('originx'),
									W = coo.width,
									S = coo.getScale('left'),
									H = coo.height,
									h = (avg - S.start) * H / S.distance,
									y = chart.y + H - h;

								chart.target.globalAlpha(0.2)
								.box(x,y,W,h,0,'#1f7e92')
								.globalAlpha(1)
								.textAlign('start')
								.textBaseline('middle')
								.textFont('600 12px Verdana')
						
								
							}
					}));	
						
					chart.draw();
			});
			</script>


<script type="text/javascript">
		//定义数据
		var ta = [
			{name : '阅读',value : 7,color:'#a5c2d5'},
		   	{name : '写作',value : 5,color:'#cbab4f'},
		   	{name : '演讲',value : 12,color:'#76a871'},
		   	{name : '才艺',value : 12,color:'#76a871'},
		   	{name : '竞赛',value : 15,color:'#a56f8f'},
		   	{name : '沟通',value : 13,color:'#c12c44'},
		   	{name : '出勤',value : 15,color:'#a56f8f'},
		   	{name : '实践',value : 18,color:'#9f7961'}

		 ];
		 $(function(){	
			var chart = new iChart.Column2D({
				render : 'shuxin',//渲染的Dom目标,canvasDiv为Dom的ID
				data: ta,//绑定数据
				title : '属性',//设置标题
				width : 320,//设置宽度，默认单位为px
				height : 400,//设置高度，默认单位为px
				shadow:true,//激活阴影
				shadow_color:'#c7c7c7',//设置阴影颜色
				coordinate:{//配置自定义坐标轴
					scale:[{//配置自定义值轴
						 position:'left',//配置左值轴	
						 start_scale:0,//设置开始刻度为0
						 end_scale:100,//设置结束刻度为26
						 scale_space:10,//设置刻度间距
						 listeners:{//配置事件
							parseText:function(t,x,y){//设置解析值轴文本
								return {text:t}
							}
						}
					}]
				}
			});
			//调用绘图方法开始绘图
			chart.draw();
		});
</script>



<script type="text/javascript">
			var da = [
			        	{name : '电子商务概论',value : 91.17,color:'#a5c2d5'},
			        	{name : '市场营销',value : 86,color:'#cbab4f'},
			        	{name : '网页设计',value : 71,color:'#76a871'},
			        	{name : '大学生心理健康教育',value : 73,color:'#9f7961'},
			        	{name : '大学英语',value : 67,color:'#a56f8f'}


		        	];  //劣势  weakness
					$(function(){
						new iChart.Bar2D({
								render : 'canvasDiv',
								data: da,
								title : 'strength成绩',
								width : 800,
								height : 400,
								coordinate:{
									width:640,
									height:280,
									scale:[{
										 position:'bottom',	
										 start_scale:0,
										 end_scale:100,
										 scale_space:10,
										 listeners:{
											parseText:function(t,x,y){
												return {text:t}
											}
										 }
									}]
								},
								rectangle:{
									listeners:{
										drawText:function(r,t){
											return t+"%";
										}
									}
								}
						}).draw();
					});
</script>


<script type="text/javascript">
			var data = [
			        	{name : '网页美工与网络广告',value : 91.17,color:'#a5c2d5'},
			        	{name : '网络营销',value : 86,color:'#cbab4f'},
			        	{name : '电子商务创业实务',value : 71,color:'#76a871'},
			        	{name : '推销与谈判',value : 73,color:'#9f7961'},
			        	{name : '商务网站规划与设计实训',value : 67,color:'#a56f8f'}


		        	];  //劣势  weakness
					$(function(){
						new iChart.Bar2D({
								render : 'canvas',
								data: data,
								title : 'weakness成绩',
								width : 800,
								height : 400,
								coordinate:{
									width:640,
									height:280,
									scale:[{
										 position:'bottom',	
										 start_scale:0,
										 end_scale:100,
										 scale_space:10,
										 listeners:{
											parseText:function(t,x,y){
												return {text:t}
											}
										 }
									}]
								},
								rectangle:{
									listeners:{
										drawText:function(r,t){
											return t+"%";
										}
									}
								}
						}).draw();
					});
</script>
<script>
			// 路径配置
			require.config({
				paths: {
					echarts: 'echarts//build/dist'
				}
			});
			// 使用
			require(
					[
						'echarts',
						'echarts/chart/radar' // 使用柱状图就加载bar模块，按需加载
					],
					function (ec) {
						// 基于准备好的dom，初始化echarts图表
						var myChart = ec.init(document.getElementById('skill_main'));

						var option = {
							title : {
	
								x:'center'
							},
							tooltip : {
								trigger: 'axis'
							},
							polar : [
								{
									indicator : [
										{ text: '中国公民', max: 100},
										{ text: '世界公民', max: 100},
										{ text: '学校公民', max: 100},
										{ text: '企业公民', max: 100},
										{ text: '社会公民', max: 100},
										{ text: '职业公民', max: 100}
									]
								}
							],
							calculable : true,
							series : [
								{
									name: '核心课程成绩',
									type: 'radar',
									data : [
										{
											value : [60, 80, 50, 70, 90, 60],
											name : '核心课程成绩'
										}
									]
								}
							]
						};
						// 为echarts对象加载数据
						myChart.setOption(option);
					}
			);
</script>

<script type="text/javascript">
					$(function(){
						var pv=[],ip=[],t;
						for(var i=0;i<61;i++){
							t = Math.floor(Math.random()*(30+((i%12)*5)))+10;
							pv.push(t);
							t = Math.floor(t*0.5);
							t = t-Math.floor((Math.random()*t)/2);
							ip.push(t);
						}
						
						var data = [
						         	{
						         		name : '蓝墨云',
						         		value:pv,
						         		color:'#0d8ecf',
						         		line_width:2
						         	},
						         	{
						         		name : '超星',
						         		value:ip,
						         		color:'#ef7707',
						         		line_width:2
						         	}
						         ];
				         
						var labels = ["2012-08-01","2012-08-02","2012-08-03","2012-08-04","2012-08-05","2012-08-06"];
						var line = new iChart.LineBasic2D({
							render : 'hyf',
							data: data,
								title : '校内学习系统阅读指数',
							align:'center',
							width : 800,
							height : 400,
							tip:{
								enable:true,
								shadow:true
							},
							legend : {
								enable : true,
								row:1,//设置在一行上显示，与column配合使用
								column : 'max',
								valign:'top',
								sign:'bar',
								background_color:null,//设置透明背景
								offsetx:-80,//设置x轴偏移，满足位置需要
								border : true
							},
							crosshair:{
								enable:true,
								line_color:'#62bce9'
							},
							sub_option : {
								label:false,
								point_hollow : false
							},
							coordinate:{
								width:640,
								height:240,
								axis:{
									color:'#9f9f9f',
									width:[0,0,2,2]
								},
								grids:{
									vertical:{
										way:'share_alike',
								 		value:5
									}
								},
								scale:[{
									 position:'left',	
									 start_scale:0,
									 end_scale:100,
									 scale_space:10,
									 scale_size:2,
									 scale_color:'#9f9f9f'
								},{
									 position:'bottom',	
									 labels:labels
								}]
							}
						});
					
					//开始画图
					line.draw();
				});
				
</script>
<script type="text/javascript" src="./js/radarChart.js"></script>
<script type="text/javascript">
radarChart.init(document.querySelector("#radar2"), {
    data: {
        maxValue: [100, 100, 100, 100,100, 100, 100],
        value: [100, 100, 100, 100,100, 100, 100],
            description: ["沟通", "写作", "架构", "绘图", "查阅资料","原创水平","汇报展示"]
    },

    config: {
        scale: 1,
        showTooltip: true,
        dataLine: {
            strokeStyle: "red",
            lineWidth: 2
        },
        dataCircle: {
            r: 4,
            strokeStyle: "red",
            fillStyle: "#eee",
            lineWidth: 4
        },
        bg: {
            layer: 9,
            evenFillStyle: "#fefefe",
            oddFillStyle: "#ddd",
            evenStrokeStyle: "#999",
            oddStrokeStyle: "#999"
        }
    }
});

</script>

	</body>
</html>