<!DOCTYPE html>
<html>
	<head>
		<title>惠州城市职业学院高级评价系统 - 教师主页</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
				<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="styleSheet" href="css/reset.css">
		<link rel="styleSheet" href="css/index_css.css">
		<script src="js/jquery-1.11.1.js"></script>
		<link rel="stylesheet" type="text/css" href="./bs/css/bootstrap.min.css">
		<style>

.zoom {

    vertical-align: middle;
    -webkit-transition: -webkit-transform .2s;
    transition: transform .2s;
}
.box:hover .zoom {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    zoom: 1.05;
}
.box:hover .zoom {
    zoom: 1;
}
</style>
	</head>
	<body>
		<div class="h_header visible-lg-inline-block visible-md-inline-block">
			<div class="head_content">
				<div class="head_left">
					<div class="h_logo">
					</div>
				</div>
				<div class="head_right">
					<ul class="h_nav">
						<li><a href="./index.html">首页</a></li>
						<li><a href="./teacher.html">教师主页</a></li>
					</ul>
				</div>
				<div class="head_state">
					<ul class="h_nav">
						<li><a href="./index.html">张凌</a></li>
					</ul>
					<div class="s_user">
						<a href="">个人信息</a>
						<a href="">修改密码</a>
						<a href="">退出</a>
					</div>
				</div>
			</div>
		</div>			




<div class="container">
<div class="row">
			<div class="modal fade xbs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
				  <div class="modal-dialog modal-sm" role="document">
				    <div class="modal-content">
				    	  <a  class="list-group-item active">
								选择班级
						 </a>
				        <button type="button" class="btn btn-default">14F16班</button>
	  <button type="button" class="btn btn-default">14F17班</button>
	  <button type="button" class="btn btn-default">14F18班</button>
	 <button type="button" class="btn btn-default">14F38班</button>
	  <button type="button" class="btn btn-default">14F39班</button>
	    <button type="button" class="btn btn-default">14F40班</button>
	       <button type="button" class="btn btn-default">14F41班</button>
	          <button type="button" class="btn btn-default">14F42班</button>
    </div>
				    </div>
				  </div>
				</div>

		<div class="teacher_main visible-lg-inline visible-md-inline" >
			<div class="pic">
				<div class="pic_1"><h3>城市</br>管理系</h3></div>
				<a data-toggle="modal" data-target=".xbs-example-modal-sm" href="javascript:void(0);" class="box"><img  class="zoom" src="./images/teacher/城市管理系.jpg" /></a>					
			</div>



	
			<div class="pic">
			<div class="pic_2"  ><h3>工商</br>管理系</h3></div>
				<a href="javascript:void(0);" class="box" ><img class="zoom" src="./images/teacher/工商管理系.jpg" /></a><	
			</div>





			<div class="pic">
				<div class="pic_3"><h3>机械</br>工程系</h3></div>
				<a href="javascript:void(0);" class="box"><img class="zoom" src="./images/teacher/机械工程系.jpg" /></a>
			</div>
			<div class="pic">
				<div class="pic_4"><h3>服装</br>设计系</h3></div>
				<a href="javascript:void(0);" class="box"><img class="zoom" src="./images/teacher/服装设计系.jpg" /></a>
			</div>
			<div class="pic">
				<div class="pic_5"><h3>会计系</h3></div>
				<a href="javascript:void(0);" class="box"><img class="zoom" src="./images/teacher/会计系.jpg" /></a>
			</div>
			<div class="pic">
				<div class="pic_6"><h3>旅游</br>管理系</h3></div>
				<a href="javascript:void(0);" class="box"><img class="zoom" src="./images/teacher/旅游管理系.jpg" /></a>
			</div>
			<div class="pic">
				<div class="pic_7"><h3>信息</br>技术系</h3></div>
				<a href="javascript:void(0);" class="box"><img class="zoom" src="./images/teacher/信息技术系.jpg" /></a>
			</div>
			<div class="pic">
				<div class="pic_8"><h3>艺术</br>设计系</h3></div>
				<a href="javascript:void(0);" class="box"><img class="zoom" src="./images/teacher/艺术设计系.jpg" /></a>
			</div>
			<div class="pic">
				<div class="pic_9"><h3>应用</br>外语系</h3></div>
				<a href="javascript:void(0);" class="box"><img class="zoom" src="./images/teacher/应用外语系.jpg" /></a>
			</div>
			<div class="pic">
				<div class="pic_10"><h3>人文</br>社科系</h3></div>
				<ahref="javascript:void(0);" class="box"><img class="zoom" src="./images/teacher/人文社科系.jpg" /></a>
			</div>
			<div class="pic">
				<div class="pic_11"><h3>汽车</br>工程系</h3></div>
				<a href="javascript:void(0);" class="box"><img class="zoom" src="./images/teacher/汽车工程系.jpg" /></a>
			</div>

		</div>
	</div>
</div>

		<div class="footer visible-lg-inline-block visible-md-inline-block">
			<div class="foot_content">
				<div class="foot_left">
				<span>地址：惠州市三栋镇福长岭惠州城市职业学院</span>
				<span>联系电话：0752-2829601</span>
				</div>
				<div class="foot_right">
					<span>官网：www.hzcs.com.cn</span>
				</div>
			</div>
		</div>

		<!--手机页面!-->
<div class="container-fluid">
<div class="row">
<div class="col-xs-12 col-sm-12">
	<nav class=" navbar navbar-default navbar-fixed-top visible-xs-inline-block visible-sm-inline-block" style="background:#051864;">
	  	<div class="container-fluid">

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" style="background:#051864; border:none;" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <div class="h_logo">
					</div>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li ><a href="#">首页 <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">教师主页</a></li>
	          <li><a href="#">欢迎:张凌老师</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
</div>
</div>

</div>

<div class="col-xs-12 visible-sm-inline-block visible-xs-inline-block">
		<div class="page-header"></div>
	</div>

<div class="container-fluid visible-xs-inline-block visible-sm-inline-block">
<div class="row">
<div class="col-xs-6 ">
    <a href="#" class="thumbnail text-center "  data-toggle="modal" data-target=".bs-example-modal-sm">
      <img src="./images/teacher/信息技术系.jpg" alt="...">   	   
   	    <span>信息技术系</span>
    </a>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
 
	  <button type="button" class="btn btn-default">14F16班</button>
	  <button type="button" class="btn btn-default">14F17班</button>
	  <button type="button" class="btn btn-default">14F18班</button>
	 <button type="button" class="btn btn-default">14F38班</button>
	  <button type="button" class="btn btn-default">14F39班</button>
	    <button type="button" class="btn btn-default">14F40班</button>
	       <button type="button" class="btn btn-default">14F41班</button>
	          <button type="button" class="btn btn-default">14F42班</button>
    </div>
  </div>
</div>


 </div>






 <div class="col-xs-6 ">
    <a href="#" class="thumbnail text-center">
      <img src="./images/teacher/工商管理系.jpg" alt="...">   	   
   	    <span>工商管理系</span>
    </a>
 </div>
  <div class="col-xs-6 ">
    <a href="#" class="thumbnail text-center">
      <img src="./images/teacher/机械工程系.jpg" alt="...">   	   
   	    <span>机电工程系</span>
    </a>
 </div>

   <div class="col-xs-6 ">
    <a href="#" class="thumbnail text-center">
      <img src="./images/teacher/服装设计系.jpg" alt="...">   	   
   	    <span>服装设计系</span>
    </a>
 </div>

   <div class="col-xs-6 ">
    <a href="#" class="thumbnail text-center">
      <img src="./images/teacher/会计系.jpg" alt="...">   	   
   	    <span>会计系</span>
    </a>
 </div>

   <div class="col-xs-6 ">
    <a href="#" class="thumbnail text-center">
      <img src="./images/teacher/旅游管理系.jpg" alt="...">   	   
   	    <span>旅游管理系</span>
    </a>
 </div>

   <div class="col-xs-6 ">
    <a href="#" class="thumbnail text-center">
      <img src="./images/teacher/艺术设计系.jpg" alt="...">   	   
   	    <span>艺术设计系</span>
    </a>
 </div>

    <div class="col-xs-6 ">
    <a href="#" class="thumbnail text-center">
      <img src="./images/teacher/应用外语系.jpg" alt="...">   	   
   	    <span>应用外语系</span>
    </a>
 </div>
    <div class="col-xs-6 ">
    <a href="#" class="thumbnail text-center">
      <img src="./images/teacher/人文社科系.jpg" alt="...">   	   
   	    <span>人文社科系</span>
    </a>
 </div>
    <div class="col-xs-6 ">
    <a href="#" class="thumbnail text-center">
      <img src="./images/teacher/汽车工程系.jpg" alt="...">   	   
   	    <span>汽车工程系</span>
    </a>
 </div>

</div>
</body>
<script  src="./jquery.min.js"></script>
<script src="./bs/js/bootstrap.min.js"></script>
</html>