<!DOCTYPE html>
<html style="height:100%;" lang="zh-CN">
<head>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="bookmark" href="/static/favicon.ico"/>
    <meta charset="utf-8">
    <title>智慧消防</title>
    <meta name="keywords" content="深圳朗杰信息有限公司" />
    <meta name="description" content="深圳朗杰信息有限公司" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="Robots" content="all" />
    <script type="text/javascript">
        (function() {
            function checkWebp() {
              try {
                  return (document.createElement('canvas').toDataURL('image/webp').indexOf('data:image/webp') == 0);
              } catch (err) {
                  return false;
              }
            }
            document.cookie = 'webp=' + (checkWebp() ? 1 : 0)
        })()
    </script>
    <link rel="stylesheet" href="static/langem/css/reset.css">
    <link rel="stylesheet" href="static/langem/css/jquery.fullpage.min.css">
    <link rel="stylesheet" href="static/langem/css/animate.min.css">
    <link rel="stylesheet" href="static/langem/css/master.css">
    <link rel="stylesheet" href="static/langem/css/header.css">
    <link rel="stylesheet" href="static/langem/css/header_mobile.css">
    <link rel="stylesheet" href="static/langem/css/master_mobile.css" media="screen and (max-width: 1024px)">

    <link rel="stylesheet" type="text/css" href="static/langem/css/style.css" />
    <link rel="stylesheet" type="text/css" href="static/langem/css/hide.css" />
    <link rel="stylesheet" type="text/css" href="static/langem/css/jquery.ma.infinitypush.css" />

<link rel="stylesheet" href="static/langem/css/solution.css">
<style>
    .func-item:nth-child(2n) {
        transform: scale(0.8) translateY(4%);
    }
    
    .func-item:nth-child(2n+1) {
        transform: scale(0.8) translateY(-22%);
    }
</style>
</head>
<body style="height:100%;overflow-x: hidden;">
<header>
    <div class="content">
        <div class="logo">
            <a href="/">
                <span class="icon-logo"></span>
            </a>
        </div>
        <div class="menu">
            <a class="menu-btn">
                <span class="icon-menu-btn"></span>
            </a>
            <div id="body">


                <div id="wrapper">
                    <nav class="menu-con" id="primary-navigation">
                        <ul>
                            <li class="home"><a href="/"><div class="cn">首页</div><div class="en">HOME</div></a></li>
                        </ul>
                        <ul>
                            <li class="solution"><a class="nav"><div class="cn">解决方案</div><div class="en">SOLUTION</div></a>
                            <div>
                                <ul class="ul">
                                    <li><a href="/zhxf" class="a_a"><span class="icon-wrp iocn-2"></span><span class="icon-name">智慧消防</span></a></li>
                                    <li><a href="/ylt" class="a_a"><span class="icon-wrp iocn-1"></span><span class="icon-name">银路通</span></a></li>
                                    <li><a href="/yunlutong" class="a_a"><span class="icon-wrp iocn-0"></span><span class="icon-name">云路通</span></a></li>
                                </ul>
                            </div>
                            </li>
                        </ul>
                        <ul>
                            <li class="news"><a class="nav" href="/news"><div class="cn">行业动态</div><div class="en">NEWS</div></a>
                            </li>
                        </ul>
                        <ul>
                            <li class="about"><a class="nav" href="/about"><div class="cn">关于我们</div><div class="en">ABOUT</div></a>
                                <ul>
                                    <li><a href="/about" class="a_a">公司简介</a></li>
                                    <li><a href="/#page4" class="a_a">联系方式</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li class="join"><a class="nav" href="/manage/langem_news"><div class="cn">管理后台</div><div class="en">JOIN</div></a>
                            </li>

                        </ul>
                        <ul>
                            <li class="QRCode"><a id="window_btn_qr">二维码</a>
                                <ul id="QRCode-wrp">
                                    <span class="sjjc"></span>
                                    <div>
                                        <img src="static/langem/picture/wx_qrcode.jpg" width="100%">
                                    </div>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="head-img" class="auto-img">
    <img src="static/langem/picture/hangzhou.jpg">
</div>

<div class="center-content" style="max-width:none;width:100%;position:relative;font-size: 16px; line-height:30px; background-color: #fff;">
    <div class="head-title" style="left: -183px">
        <div class="head-title2">智慧消防</div>
        <div class="head-title3">WISDOM FIRE PROTECTION</div>
    </div>

    <div class="solution-body">
        <div class="solution-content" style="box-sizing:border-box;width: 1000px; margin: 0 auto; padding: 80px 110px 110px 110px; font-size: 16px;line-height: 30px;">
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;智慧消防系统是将GPS（全球卫星定位系统）、GIS（地理信息系统）、GSM（无线移动通信系统）和计算机、网络等现代高新技术集于一体的智能消防无线报警网络服务系统。它通过用户信息传输装置接收火灾报警控制系统、电气火灾监控系统、消防设备电源监控系统、无线火灾报警系统、气体灭火控制系统、防火门监控系统、独立式报警器、消防给水系统、视频监控系统等信息，实现信息实时监控、实时存储，以便进行数据挖掘、隐患分析、排查。
            </p>

        </div>
    </div>
</div>

<div class="center-content">
    <div class="solution-body" style="padding-top:40px">
        <div class="solution-title" style="text-align:center;justify-content: center;align-content: center;">
            技术架构图
        </div>
        <div>
            <img style="width:100%" src="static/langem/picture/zhxf_jiagou.jpg">
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<div class="center-content">
    <div class="solution-body" style="padding-top:40px">
        <div class="solution-title" style="text-align:center;">
            场景提炼
        </div>
        <div class="screen-wrp">
            <img src="static/langem/picture/screen.png" alt="" width="30%">
        </div>
        <div class="scene-wrp">
            <div class="scene">
                <img src="static/langem/picture/guanlipingtai.jpg" width="80%" height="80%">
            </div>
        </div>
    </div>
</div>

<div class="center-content">
    <div class="solution-body" style="padding-top:71px">
        <div class="solution-title" style="text-align:center;">
            功能提炼
        </div>

            <img src="static/langem/picture/gongneng.jpg" width="100%" height="100%">

    </div>
</div>

<footer class="footers">
    <div class="info">
        <div class="logo">
            <img src="static/langem/picture/logo.png" alt="">
        </div>
        <div class="line"></div>
        <p>© 2018 LANGEM All Rights Reserved.　粤ICP备17068994号-2</p>
    </div>
    <div class="footer">
        <a href="#">解决方案</a>
        <ul>
            <li><a class="able" href="/zhxf"><span>智慧消防</span></a></li>

        </ul>
        <a style="margin-left: 80px;" href="#" class="newOurs">关于我们</a>
        <ul>
            <li><a class="able" href="/about"><span>公司简介</span></a></li>
            <li><a class="able" href="/#page4"><span>联系方式</span></a></li>
        </ul>

        <a style="margin-left: 80px;" class="able new_a1" href="/casus" >案例</a>
        <a class="able new_a2" href="/news">行业动态</a>
        <a class="able new_a3" href="/manage/langem_news">管理后台</a>
        <a style="margin-left: 200px; margin-right: 5px;" href="#" class="new_a4">服务热线:</a>
        <a style="font-size: 15px;margin-left: 0; color: #00E4FF;" class="new_a5">0755-82438858</a>
        <a>
            <img style="margin-top: 35px;" src="static/langem/picture/qrcode_fff.png" alt="右上角关注微信公众号" title="右上角关注微信公众号" width="30px">
        </a>
    </div>
</footer>

<script src="static/langem/js/jquery.min.js" charset="utf-8"></script>
<script src="static/langem/js/jquery.fullpage.min.js" charset="utf-8"></script>
<script src="static/langem/js/index.js" charset="utf-8"></script>
<script type="text/javascript" src="static/langem/js/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="static/langem/js/jquery.ma.infinitypush.js"></script>
<script>
    $(document).ready(function(){

        function responsive() {
            if($(window).width() <= 767){
                console.log('mobile navigation');

                $('#primary-navigation').infinitypush();

                $('body').removeClass('desktop');
                $('body').addClass('mobilePhone');
            } else {
                console.log('desktop navigation');

                $('#primary-navigation').infinitypush({
                    destroy:true
                });

                $('body').addClass('desktop');
                $('body').removeClass('mobilePhone');
            }
        }

        function windowResize(){
            $(window).resize(function(){
                responsive();
            });
        }

        responsive();
        windowResize();

    });
    $("body").height( $(window).height() );

    var joinMeun = $('.join-list-meun');
    $(document).scroll(function (event) {
        var offsetTop = $(document).scrollTop();
        if (offsetTop < 450) {
            $('header').removeClass('suspend');
            $('body').removeClass('suspends')
            if (joinMeun.length !== 0 && $('.join-list-meun').hasClass('suspend')) {
                $('.join-list-meun').removeClass('suspend')
            }
        } else if (offsetTop < 500) {
            if (joinMeun.length !== 0 && $('.join-list-meun').hasClass('suspend')) {
                $('.join-list-meun').removeClass('suspend')
            }
        } else {
            $('header').addClass('suspend');
            $('body').addClass('suspends')
            if (joinMeun.length !== 0 && !($('.join-list-meun').hasClass('suspend'))) {
                $('.join-list-meun').addClass('suspend')

            }
        }
    })
    // header 样式
    $('.menu-con > li.current').removeClass('current')
    var pathname = window.location.pathname;
    console.log('当前的pathname ', pathname);
    if (pathname === '/') {
        $('.menu-con .home').addClass('current')
    } else if (['/zhsz', '/zhsq', '/zhxf'].indexOf(pathname) !== -1) {
        $('.menu-con .solution').addClass('current')
    } else if (pathname === '/casus') {
        $('.menu-con .casus').addClass('current')
    } else if (pathname === '/news') {
        $('.menu-con .news').addClass('current')
    } else if (['/about', '/zhuanli'].indexOf(pathname) !== -1) {
        $('.menu-con .about').addClass('current')
    } else if (pathname === '/join') {
        $('.menu-con .join').addClass('current')
    }
    $('.solution ul').mouseover(function(event){
        //……
        console.log(1)
        event.stopPropagation();
    })
</script>
</body>
</html>
