/*-------------------+
 |	author:Halen     |
 |	type:styleSheet  |
 |	time:2015/8/7    |
 +-------------------+*/
/*头部*/
.body_bg{background:#ddd;}
.header{width:100%;height:80px;border-bottom:4px solid #D9D9D9;}
.head_content{width:1024px;margin:0 auto;}
.head_left{float:left;}
.head_right{float:left;}
.logo{width:480px;height:80px;background:url("../images/logo.jpg") no-repeat;}/*logo*/
	/*头部导航栏*/
.head_right li{float:left;}
.head_right .i_navbg a{height:80px;padding-left:20px;padding-right:20px;margin-left:10px;color:#000;line-height:80px;font-size:16px;display:inline-block;outline:none;}
.head_right .i_navbg a:hover{background:#051864;color:#fff;}
.head_right .i_navbg .active{background:#051864;color:#fff;}
/*banner*/
.hzcs_banner{width:100%;height:420px;overflow:hidden;border-bottom:1px solid #ccc; background:#CBD0D3;}
.banner_content{width:1700px;height:420px;}
/*内容*/
.hzcs_main{width:1024px;margin:10px auto;margin-bottom:40px;display:table;}
.m_title{width:100%;border-bottom:1px solid #ccc;text-align:center;position:relative;margin-bottom:20px;}
.m_title h3{color:#3E3A3B;font-weight:500;}
.m_title p{line-height:10px;margin-bottom:10px;font-size:16px;color:#B1B1B1;}
.m_title span{position:absolute;display:block;bottom:0px;width:100px;height:2px;background:#051864;left:50%;margin-left:-50px;}
	/*优秀学生*/
.e_student{width:220px;height:300px;float:left;margin-right:36px;/*border:1px solid #ccc;*/margin-top:10px;}
.s_photo{width:150px;height:220px;background:url("../images/e_student.png") no-repeat -46px -10px;margin:10px auto;}
.s_photo img{padding:6px;}
.s_name{width:200px;height:58px;background:url("../images/e_student.png") no-repeat -20px -230px;margin:10px auto; text-align:center;}
.s_name p{line-height:44px;font-size:18px;}
.s_text{text-indent:24px;}
	/*联系我们*/
.map_content{width:1024px;float:left;}
.h_map{width:560px;height:380px;background:#ddd;border:1px solid #ccc;margin-top:10px;float:left;}
.m_addres{width:420px;float:right;margin-top:10px;}
.m_addres p{margin-top:18px;height:20px;text-indent:26px;line-height:20px;font-size:18px;color:#666;}
.tb_addres{background:url("../images/map_tb.png") no-repeat;}
.tb_phone{background:url("../images/map_tb.png") no-repeat 0 -26px;}
.tb_fax{background:url("../images/map_tb.png") no-repeat 0 -46px;}
.tb_email{background:url("../images/map_tb.png") no-repeat 0 -68px;}
.tb_zcode{background:url("../images/map_tb.png") no-repeat 0 -88px;}
.tb_website{background:url("../images/map_tb.png") no-repeat 0 -110px;}
	/*登录*/
.main_left{width:650px;float:left;margin-bottom:60px;margin-right:8px;}
.login_bg{width:650px;height:340px;margin-top:30px;background:url("../images/login_bg.jpg") no-repeat;}
.main_right{width:366px;float:right;}
.login{margin-top:60px;width:360px;border:1px solid #ccc;}
.login form{display:none;}
.login .form_active{display:block;}
.login_tab{margin-bottom:20px;border-top: 2px solid #051864;}
.login_tab span{width:120px;height:38px;background:#fff;display:inline-block;text-align:center;font-size:18px;color:#ccc;cursor:pointer;}
.login_tab .border_r{}
.login_tab .active{border-bottom:2px solid #051864;color:#000;}
.h_form{width:240px;margin:10px auto;font-size:18px;height:50px;}
.h_form span{width:80px;display:inline-block;line-height:50px;}
.h_form input{display:inline-block;line-height:50px;text-indent:8px;}
.h_form .login_text{width:196px;height:38px;padding-left:35px;background:url("../images/text_zh.png") no-repeat;border:2px solid #ccc;}
.h_form .text_mmbg{background:url("../images/text_mm.png") no-repeat;}
.h_form .login_check{width:100px;height:32px;color:#9597A2;}
.h_form .login_btn{width:240px;line-height:32px;height:32px;text-align:center;border: 0px none;background:#051864;border-radius:3px;color:#fff;}
.h_form a{color:#666;}
.h_form a:hover{color:#051864;}
.h_pwd{width:240px;margin:0 auto;}
.h_pwd a{color:#666;font-size:13px;}
.h_pwd a:hover{color:#F40;}
	/*后台登录*/
.bsg_top{width:100%;height:400px;background:#051864;}
.bsg_login{width:360px;height:200px;background:#fff;margin:-100px auto;padding: 20px;border: 1px solid #E7E7E7;}
.bsg_login h3{text-align:center;background: #F3F3F3;color: #555;margin: -20px -20px 21px;border-bottom: 1px solid #CFCFCF;line-height: 50px;}
.bsg_form{width:280px;margin:10px auto;font-size:18px;height: 50px;}
.bsg_form input{display:inline-block;text-indent:8px;}
.password_bg{background:url("../images/text_mm.png") no-repeat;}
.text_bg{background:url("../images/text_zh.png") no-repeat;}
.bsg_text{height:38px;width:240px;padding-left:35px;border-style:solid;border:2px solid #ccc;}
.bsg_submit{height: 50px;line-height: 50px;margin-top:10px;border-top: 1px solid #E7E7E7;}
.bsg_submit span{float:left;}
.bsg_submit a{color: #666;}
.bsg_btn{width:100px;line-height: 32px;text-align: center;border: 0px none;background:#051864;border-radius: 3px;color: #FFF;margin-top:10px;float:right;}
	/*学生页面*/
.h_title{width:216px;height:60px;background:url("../images/e_student.png") no-repeat -14px -294px;text-align:center;line-height:50px;font-size:20px;color:#fff;}/*标题*/
.h_header{width:100%;height:60px;background:#051864;display:table;}
.head_state{float:right;position:relative;}
.h_logo{width:200px;height:60px;background:url("../images/h_logo.jpg") no-repeat;margin-right:50px;}
.h_nav a{color:#fff;height:60px;padding-left:20px;padding-right:20px;margin-left:10px;line-height:60px;font-size:16px;display:inline-block;outline:none;}
.h_nav a:hover{background:#193477;}
.s_user{position:absolute;top:60px;width:100px;border:1px solid #ccc;background:#fff;display:none;}
.s_user a{display:block;width:60px;height:30px;line-height:30px;color:#333;text-align:center;}
.s_user a:hover{background:#eee;}
.h_bgborder{background:#fff;border:1px solid #ccc;}
.s_left{width:580px;float:left;}
.s_photos{float:left;margin:10px 0 0 10px;}
.s_list{float:left;margin:10px 0 0 10px;}
.s_list ul{float:left;width:400px;}
.s_list li{float:left;width:200px;line-height:30px;}
.s_right{width:400px;float:right;}
			/*属性*/
.s_attr{margin:20px 0 10px 10px;}
.s_attr ul{margin-top:10px;}
.s_attr li{height:26px;line-height:26px;}
.s_attr .attr_text{width:120px;text-align:right;display:inline-block;margin-right:10px;}
			/*技能*/
.skill{margin:10px 0 0 0px;}
#skill_main{height:420px;margin-top:40px;}
				/*进度条*/
.process-bar{width:360px;display:inline-block;*zoom:1;}
.pb-wrapper{border:1px solid gray;border-style:solid none;position:relative;background:#cfd0d2;}
.pb-container{border:1px solid gray;border-style:none solid;height:16px;position:relative;left:-1px;margin-right:-2px;font:1px/0 arial;padding:1px;}
.pb-highlight{position:absolute;left:0;top:0;_top:1px;width:100%;opacity:0.6;filter:alpha(opacity=60);height:8px;background:white;font-size:1px;line-height:0;z-index:1}
.pb-text{width:100%;position:absolute;left:0;top:0;text-align:center;font:10px/16px arial; }
.pb-value{height:100%; width:50%; background:#193477; }
.pb-text {color:#fff; }
	/*简历*/
.resume{width:930px;display:table;margin:10px auto;}
.r_title{height:20px;line-height:20px;}
.r_title span{display:inline-block;width:910px;border-bottom:1px dashed #333;margin:0 0 10px 0;text-indent:10px;}
.resume ul{width:900px;margin:10px auto;display:table;}
.resume li{float:left;width:300px;line-height:28px;}
	/*教师页面*/
.teacher_main{width:1140px; height:780px;margin:80px auto 40px;}
.teacher_main div{width:360px;height:176px;float:left;}
.pic{margin:0 20px 15px 0;}
.pic div{width:154px;height:176px;}
.pic h3{width:100px;letter-spacing:5px;line-height:40px;color:#fff;text-align:center;margin:30px auto;font-size:28px;font-weight:bold;}
.pic_1{background:#5425bd;}
.pic_2{background:#35ba1f;}
.pic_3{background:#b04d39;}
.pic_4{background:#d6b234;}
.pic_5{background:#2a84bd;}
.pic_6{background:#e03f3f;}
.pic_7{background:#183bd0;}
.pic_8{background:#334a54;}
.pic_9{background:#dc3091;}
.pic_10{background:#964f09;}
.pic_11{background:#2cddad;}
	/*公司页面*/
.comp_box{width:232px;float:left;margin-right:20px;margin-top:20px;background:#fff;}
.comp_img{width:220px;padding:6px;background:#fff;}
.comp_box p{width:232px;height:34px;font-size:18px;background:#F7F7F7;color:#333;text-align:center;line-height:34px;}
/*尾部*/
.footer{width:100%;height:90px;border-top:4px solid #D9D9D9;background:#F3F3F3;}
.foot_content{width:1024px;margin:0 auto;margin-top:20px;}
.foot_left{width:500px;float:left;}
.foot_right{width:500px;float:right;}
.foot_right span{text-align:right}
.foot_content span{display:block;}

/*公共样式*/
.c_051{color:#051864;}/*主色调*/
.c_666{color:#666;}
.margin_b-1{margin-bottom:10px;}
.text_r{text-align:right;}
.f_left{float:left;}
.f_right{float:right;}