@charset "utf-8";
@media only screen and (max-width: 1024px){
	.desktop header .content .menu {
		right: 30%;
	}
	.desktop .swiper-container  .solution .solution_ul{
		margin-top: -6%;
	}
	.desktop header .logo{
		top: 7px;
	}
	.desktop .swiper-container section .title-image {
		height: 5rem;
	}
	.desktop section.solution .title-cn {
		margin-top: 1.3rem;
	}
	.desktop .swiper-container section.solution .title-en{
		font-size: 2.27142857rem;
		margin-top: 20%;
	}
	.desktop .swiper-container section.news .title-image {
		height: 5rem;
		margin-top: 8%;
	}
	.desktop .swiper-container section.news .content-wrapper {
		top: 37.574394%;
	}
	.desktop .swiper-container  section.news  .title-cn{
		margin-top: 1.3rem;
		font-size: 2.27142857rem;
	}
	.desktop .swiper-container section.news .title-en {
		top: -0.5rem;
		font-size: 2.27142857rem;
	}
	.desktop .swiper-container  section.news .content-wrapper p{
		font-size: 18px !important;
	}
	.desktop .swiper-container section.news .content-wrapper .content-item .text-wrapper .desc{
		height: 10em;
	}
	.desktop section.news .title-en{
		font-size: 2.27142857rem;
	}
	.desktop section.news .more-btn{
		margin-left: 30%;
	}
	.desktop .about_us .footer{
		display: none;
	}
	.desktop .about_us .info{
		display: none;
	}
	.desktop .footers{
		margin-top: -14%;
	}
	.desktop .new_a4{
		margin-left: 140px;
	}
	.desktop .footer{
		height:200px;
	}
	.desktop .head-title{
		left: -415px!important;
	}
	.desktop section.solution ul li .item-container .mask{
		display: block;
		opacity: 1;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
	}
	.desktop section.solution ul li .item-container .content {
		display: block;
		visibility: inherit;
	}
	.desktop section.solution ul li .item-container .content .icon-logo{
		top: 14px;
	}
	.desktop section.solution ul li .item-container .content .text-wrapper{
		margin-top: 33px;
	}
	.desktop .text-wrapper .text_content{
		letter-spacing: 2px;
		font-size: 17px;
		display: block;
		overflow: inherit;
	}
	.desktop .swiper-container  .section  ul li .item-title{
		display: none;
	}
	section.solution ul li .item-container{
		-webkit-transform: scale(1.09);
		transform: scale(1.09);
		display: block;
	}
}
.mobilePhone header .logo{
	top: 5px;
	left: 7px;
}
header{
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 999;
	background: url(../images/header_bg.png);
	top: 0;
	left: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
header.suspend{
	height: 70px;
	background: #fff;
	box-shadow:0 0 20px 0 rgba(0,0,0,0.08);
}

header .content{
	position: relative;
	margin:0 auto;
	width: 100%;
	min-width: 1200px;
}
header .logo{
	position: absolute;
	z-index: 9;
	top: 20px;
	left: 25px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
header .logo .icon-logo{
	display: block;
	width: 210px;
	height: 100px;
	background: url(../images/logo.png) no-repeat;
}
header.suspend .logo{
	top: 6px;
}
header.suspend .logo .icon-logo{
	height: 70px;
	background: url(../images/logo_1.png) no-repeat;
}

header .menu{
	position: absolute;
	z-index: 9;
	right: 25px;
	top: 0px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

header .menu ul.menu-con{
	height: 100px;
	float: left;
	position: relative;
	display: inline-block;
}
header.suspend .menu ul.menu-con{
	height: 70px;
}

header .menu ul li{
	display: block;
	float: left;
	position: relative;
}
header .menu  #body #wrapper #primary-navigation ul  .solution:hover{
	overflow: visible;
	background: url(../images/header_active_bg.png);
}
header .menu  #body #wrapper #primary-navigation ul  .about:hover{
	overflow: visible;
	background: url(../images/header_active_bg.png);
}
header .menu ul li a{
	position: relative;
	display: block;
	color: #fff;
	font-size: 18px;
	overflow: hidden;
	background: none;
}


header .menu ul li a div.cn{
	position: relative;
	display: block;
	color: #fff;
	padding: 0 20px;
	height: 100px;
	font-size: 18px;
	overflow: hidden;
	background: none;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
header.suspend .menu ul li a div.cn{
	height: 70px;
	line-height: 70px;
}

header .menu ul li a div.en{
    filter:alpha(opacity=0);
    opacity:0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: block;
	color: #fff;
	position: absolute;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	top: 47px;
	font-size: 11px;
	left: 0px;
}
header.suspend .menu ul li a div.en{
	top: 47px;
	left:0px;
}

header .menu ul li:hover a div.en{
    filter:alpha(opacity=50);
    opacity:0.5;
}


header .menu ul li a:hover{
}


header .menu ul li ul{
    filter:alpha(opacity=0);
    opacity:0;
    top:70px;
	position: absolute;
	width: 100%;
    height: 0;
	overflow: hidden;
}
header.suspend .menu ul li ul{
    top:70px;
}

header .menu ul li ul li{
	float: none;
	text-align: center;
}
header .menu ul li:hover ul{
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
    filter:alpha(opacity=100);
    opacity:1;
    height: auto;
	display: block;
	background-color: rgba(0, 0, 0, 0.6);
}
header .menu ul .solution:hover ul{
	width: 450px!important;
	border-bottom-left-radius:6px;
	border-bottom-right-radius:6px;
	filter:alpha(opacity=100);
	opacity:1;
	height: auto;
	display: block;
	background-color: rgba(0, 0, 0, 0.6);
}
header .menu ul .QRCode:hover ul{
	width: 200px!important;

}


header .menu ul li:hover ul li{
	float: none;
}

header .menu ul li ul li a,header .menu ul li:hover ul li a{
	border-bottom: 0;
	display: block;
	text-align: center;
	height: 36px;
	font-size: 0.9em;
	line-height: 36px;
	color: #fff;
}
header .menu ul li:hover ul li a:hover{
	border-bottom: 0;
	color: #00a0e9;
}


header.suspend .menu ul li a div.cn{
	color: #000;
}
header.suspend .menu ul li a div.en{
	color: #367a8f;
}
header.suspend .menu ul li a:hover{
	background-image: none;
	background: #f1f1f1;
	color: #367a8f;
}
header.suspend .menu ul li a:hover div.cn{
	color: #367a8f;
}
header .menu ul li:hover a.nav, header .menu ul li a.nav:hover{
	background: url(../images/header_active_bg.png);
}
header.suspend .menu ul li:hover a.nav, header.suspend .menu ul li a.nav:hover{
	background-image: none;
	background: #f1f1f1;
}
header.suspend .menu ul li:hover ul li a:hover{
	background: rgba(0,0,0,0.5);
}


/*解决方案*/
header .menu ul li.solution ul{
	width: 0;
	height: 140px;
	left: -168px;
	border-radius:6px;
	background-color: rgba(0, 0, 0, 0.6);
}

header .menu ul li.solution ul li{
	float: left;
	width: 33%;
	height: 140px;
	border-left:1px dotted rgba(255, 255, 255, 0.2);
}
header .menu ul li.solution ul li:first-child{
	border:0;
}
header .menu #body #wrapper #primary-navigation ul li.solution ul li a.a_a, header .menu ul li.solution:hover ul li a.a_a{
	height: 140px!important;
	line-height: 36px!important;
	background: none!important;
}


header .menu ul li.solution:hover ul li a:hover{
	background: none;
	border-bottom: 0;
	color: #00a0e9;
}

header .menu ul li.solution ul li span {
	display: block;
}
header .menu ul li.solution ul li .icon-name {
	height: 20px;
	line-height: 20px;
}
header .menu ul li.solution ul li .icon-wrp {
	height: 85px;
	margin-bottom: 10px;
	background-repeat:no-repeat;
	background-position: center bottom;
	background-size: 50%;
}
header .menu ul li.solution ul li .iocn-0{
	background-image: url(../images/index_icon_0.png);
}
header .menu ul li.solution ul li .iocn-1{
	background-image: url(../images/index_icon_1.png);
}
header .menu ul li.solution ul li .iocn-2{
	background-image: url(../images/index_icon_2.png);
}

header .menu #body #wrapper .cn{
	height: 70px;
	line-height: 70px;
}
header .menu ul li.QRCode a,
header .menu ul li.QRCode a:hover{
	text-indent:-999em;
	background: url(../images/qrcode_fff.png);
	background-repeat: no-repeat;
	background-size: 22px;
	padding: 0;
	margin: 22px 20px 0 20px;
	width: 22px;
	height: 40px;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
header.suspend .menu ul li.QRCode:hover {
	background: none;
}
header.suspend .menu ul li.QRCode a,
header.suspend .menu ul li.QRCode a:hover{
	margin: 23px 20px 0 20px;
}
header.suspend .menu ul li.QRCode a,
header.suspend .menu ul li.QRCode a:hover{
	background: url(../images/qrcode_000.png);
	background-size: 22px;
	background-repeat: no-repeat;
}
header .menu ul li.QRCode a:hover{
    filter:alpha(opacity=70);
    opacity:0.7;
}

header .menu ul li.language a{
	background: rgba(0,0,0,0.5);
	border-radius: 100%;
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	position: relative;
	margin: 29px 0 0 10px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
header .menu ul li.language a:hover{
	background: rgba(0,0,0,0.5);
}
header.suspend .menu ul li.language a{
	margin: 14px 0 0 10px;
}
header .menu ul li.language a span.current, header .menu ul li.language a span.switch{
	position: absolute;
	color: #fff;
	height: 40px;
	line-height: 42px;
	text-align: center;
	width: 40px;
	top: 0;
	left: 0;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
header .menu ul li.language a span.switch{
	top: 40px;
}
header .menu ul li.language a:hover span.current{
	top: -40px;
}
header .menu ul li.language a:hover span.switch{
	top: 0px;
}
header .menu ul li.language a i{
	display: none;
}
header .menu .menu-btn {
	display: none;
}
header .menu ul li ul li a,header .menu ul li:hover ul li a{
	background: none;
}
header #QRCode-wrp {
	width: 0;
	height: 200px;
	position: absolute;
	right: 0;
	background-color: #fff;
	overflow: inherit;
	border-radius: 5px;
}
header #QRCode-wrp .sjjc {
	width: 0;
	height: 0;
	float: right;
	margin-top: -15px;
	margin-right: 22px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 15px solid #fff;
}
