.cover-wrp {
    background-image: url('../images/banner_1.jpg');
}
@media only screen and (max-width: 1024px){
    .desktop .join-list{
        width: 709px;
    }
    .desktop .join-list-meun{
        display: none;
    }
    .desktop .join-list-meun.suspend{
        display: none;
    }
}
.join-list{
    width: 1000px;
    margin: 0px auto;
}
.mobilePhone .join-list-meun.suspend{
    display: none;
}
.mobilePhone .join-list-meun{
    display: none;
}
.mobilePhone .new_case{
    height: 12rem;
}
.mobilePhone .new_case .title-wrp{
    width: 6rem;
}
.mobilePhone .join-list{
    width: 100%;
 }
.mobilePhone .new_case .title-wrp .cn{
    font-size: 2rem;
    width: 9rem;
    margin-left: -1.4rem;
}
.mobilePhone .new_case .title-wrp .en{
    font-size: 2rem;
    top: -1.6rem;
    left: -3.1rem;
    width: 13rem;
}
.join-li{
    border:1px solid #cccccc;
    border-left-color:#0687ff;
    border-left-width:2px;
    margin-top:29px;
    padding:49px 49px 43px 39px;
    position:relative;
    font-size:16px;
    line-height:20px;
}

.join-li h1{
    font-size:24px;
    font-weight:bold;
    margin-bottom: 49px;
}

.join-li .show-all{
    position:absolute;
    right:30px;
    top:20px;
}
.join-li p {
    margin: 10px 0;
    line-height: 1.5;
}
.join-list-meun {
    z-index: 9;
    position: fixed;
    right: 5%;
    top: 520px;
    width: 14em;
    margin-right: 5%;
    text-align: center;
    transition: top 300ms linear;
    -ms-transition: top 300ms linear;
}
.join-list-meun.suspend {
    /*position: fixed;*/
    top: 130px;
}
.join-list-meun .title {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.join-list-meun > li {
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}
.join-list-meun > li > a {
    color: #000;
}
li:target {
    padding-top: 120px;
}
li:target .show-all {
    top: 80px;
}
.join-list-meun > li:hover {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #000;
}