/* 常亮 */
/*
 按设计图把 px 转为 百分比
 */
/* 常用样式 */
.centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html,
body {
  font-size: 10px;
}
#main {
  font-size: 14px;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section.intro .intro-slide-wrapper {
  width: 100%;
  height: 100%;
}
section.intro .intro-slide-wrapper .intro-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
section.intro .intro-slide-wrapper .intro-slide .intro-slide-bg {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.intro .intro-slide-wrapper .intro-slide:nth-child(1) .intro-slide-bg {
  background-image: url('../images/intro_0.jpg');
}
section.intro .intro-slide-wrapper .intro-slide:nth-child(2) .intro-slide-bg {
  background-image: url('../images/intro_1.jpg');
}
section.intro .intro-slide-wrapper .intro-slide:nth-child(3) .intro-slide-bg {
  background-image: url('../images/intro_2.jpg');
}
section.intro .intro-slide-wrapper .intro-slide .text {
  right: 17.08333333%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
section.intro .intro-slide-wrapper .intro-slide .text .text-icon {
  text-align: right;
  opacity: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 1.2s ease;
  transition: -webkit-transform 1.2s ease;
  transition: transform 1.2s ease;
  transition: transform 1.2s ease, -webkit-transform 1.2s ease;
}
section.intro .intro-slide-wrapper .intro-slide .text h1 {
  font-size: 60px;
  display: block;
  clear: both;
  width: 100%;
  font-weight: normal;
  color: #fff;
  line-height: 80px;
  margin-bottom: 10px;
  text-align: right;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 0ms linear, -webkit-transform 1s ease;
  transition: opacity 0ms linear, -webkit-transform 1s ease;
  transition: opacity 0ms linear, transform 1s ease;
  transition: opacity 0ms linear, transform 1s ease, -webkit-transform 1s ease;
}
section.intro .intro-slide-wrapper .intro-slide .text h4 {
  color: #fff;
  font-size: 22px;
  padding-left: 0;
  font-weight: 100;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: right;
  text-transform: Uppercase;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 0ms linear, -webkit-transform 2s ease 0.2s;
  transition: opacity 0ms linear, -webkit-transform 2s ease 0.2s;
  transition: opacity 0ms linear, transform 2s ease 0.2s;
  transition: opacity 0ms linear, transform 2s ease 0.2s, -webkit-transform 2s ease 0.2s;
}
section.intro .intro-slide-wrapper .intro-slide .text p {
  float: right;
  width: 100%;
  padding-left: 0;
  margin-right: -0.5em;
  margin-bottom: 20px;
  line-height: 26px;
  text-align: right;
  color: #fff;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1.5px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity 50ms linear, -webkit-transform 1.6s ease;
  transition: opacity 50ms linear, -webkit-transform 1.6s ease;
  transition: opacity 50ms linear, transform 1.6s ease;
  transition: opacity 50ms linear, transform 1.6s ease, -webkit-transform 1.6s ease;
}
section.intro .intro-slide-wrapper .intro-slide .text .btn-wrapper {
  text-align: right;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 2s ease 0.2s;
  transition: all 2s ease 0.2s;
}
section.intro .intro-slide-wrapper .intro-slide .text .btn-wrapper:hover .after {
  opacity: 1;
}
section.intro .intro-slide-wrapper .intro-slide .text .btn-wrapper:hover .more-btn {
  background-color: #fff;
  color: #00a0e9;
}
section.intro .intro-slide-wrapper .intro-slide .text .btn-wrapper .after {
  position: absolute;
  z-index: 1;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
section.intro .intro-slide-wrapper .intro-slide .text .btn-wrapper .more-btn {
  width: 172px;
  height: 52px;
  color: #fff;
  border-radius: 5px 5px 5px 5px;
  border: solid 2px #fff;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
section.intro .intro-slide-wrapper .intro-slide.current {
  opacity: 1;
  z-index: 2;
}
section.intro .intro-slide-wrapper .intro-slide.current .intro-slide-bg {
  opacity: 1;
}
section.intro .intro-slide-wrapper .intro-slide.current .text .text-icon,
section.intro .intro-slide-wrapper .intro-slide.current .text h1,
section.intro .intro-slide-wrapper .intro-slide.current .text h4,
section.intro .intro-slide-wrapper .intro-slide.current .text p,
section.intro .intro-slide-wrapper .intro-slide.current .text .btn-wrapper {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
section.intro .intro-slide-wrapper .intro-slide.current .text .text-icon,
section.intro .intro-slide-wrapper .intro-slide.current .text p {
  opacity: 1;
}
section.intro .intro-slide-control {
  position: absolute;
  left: 50%;
  bottom: 5.19031142%;
  width: 213px;
  height: 42px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  z-index: 9;
}
section.intro .intro-slide-control .middle {
  width: 27px;
  margin: 0 auto;
}
section.intro .intro-slide-control .left,
section.intro .intro-slide-control .right {
  display: inline-block;
  line-height: 42px;
}
section.intro .intro-slide-control .left {
  float: left;
}
section.intro .intro-slide-control .right {
  float: right;
}
section.solution {
  background-color: #eeeeee;
  overflow: hidden;
}
section.solution .solution-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  filter: url(blur.svg#blur);
  -webkit-filter: blur(60px);
  -moz-filter: blur(60px);
  -ms-filter: blur(60px);
  filter: blur(60px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=60, MakeShadow=false);
}
section.solution .solution-bg div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=0);
  opacity: 0;
  -webkit-transition: all 800ms;
  transition: all 800ms;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (max-width: 1650px) {
  .desktop .address-bg-wrp .other .content{
    white-space: normal;
  }
  .desktop section.about_us .address-bg-wrp li:hover .content {
    top: 32%;
  }
  .desktop .address-bg-wrp .other .content .address{
    white-space: normal;
  }
  .desktop .address-bg-wrp .other .content .name{
    line-height: 1.6rem;
  }
}
@media screen and (max-width: 320px) {
  .mobilePhone .swiper-container .content-wrapper .content-item .text-wrapper a .more_Button{
    margin-left: 1.1rem;
    margin-top: 3rem;
  }
  .mobilePhone .about-us .center-content .solution-body .solution-content .img-about img {
    width: 70%!important;
  }
  .mobilePhone .about-us .center-content .solution-body .solution-content .img-about {
    margin-top: -150%!important;
  }
  .mobilePhone .patent img {
    width: 39% !important;
  }
}
@media screen and (max-width: 420px) {
  .mobilePhone .footers .footer > .newOurs {
    margin-left: 4rem!important;
  }
  .mobilePhone .about-us .center-content .solution-body .solution-content .img-about img {
    width: 87%;
  }
  .mobilePhone .about-us .center-content .solution-body .solution-content .img-about {
    margin-top: -124%;
  }
}
@media screen and (max-width: 360px) {
  .mobilePhone .about-us .center-content .solution-body .solution-content .img-about img {
    width: 77%;
  }
  .mobilePhone .about-us .center-content .solution-body .solution-content .img-about {
    margin-top: -143%;
  }

}
@media screen and (max-width: 375px) {
  .mobilePhone .about-us .center-content .solution-body .font-about {
    margin-top: 2rem;
  }
  .mobilePhone .about-us .center-content .solution-body .solution-content .img-about img {
    width: 81%;
  }
}
.mobilePhone section.about_us .address-bg-wrp li.address-0 .bg {
  background-image: url(../images/hangzhou.png) !important;
}
.mobilePhone section.about_us .address-bg-wrp li.address-1 .bg {
  background-image: url(../images/nanjing.png) !important;
}
.mobilePhone .intro-slide-control{
  display: block;
}
.mobilePhone section.about_us .address-bg-wrp li.address-2 .bg {
  background-image: url(../images/guigu.png) !important;
}
.mobilePhone section.about_us .address-bg-wrp li.address-3 .bg {
  background-image: url(../images/shanghai.png) !important;
}
.mobilePhone section.about_us .address-bg-wrp li .content {
  top: 50%;
}
section.solution .solution-bg div.current {
  -webkit-transition: all 300ms;
  transition: all 300ms;
  filter: alpha(opacity=30);
  opacity: 0.3;
}
section.solution .solution-bg .bg-0 {
  background-image: url(../images/solution_0.png);
}
section.solution .solution-bg .bg-1 {
  background-image: url(../images/solution_1.png);
}
section.solution .solution-bg .bg-2 {
  background-image: url(../images/solution_2.png);
}
section.solution .title-image {
  position: absolute;
  top: 12.97577855%;
  left: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 1.8s ease 0.6s;
  transition: all 1.8s ease 0.6s;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: transparent;
  background-image: url(../images/logo_head_icon.png);
  background-repeat: no-repeat;
  background-size: 7.5em;
  background-position: center bottom;
}
.mobilePhone .solutions .title-cn{
  margin-top: 0.6rem!important;
}
.mobilePhone .solutions .title-en{
  margin-top: 1.6rem!important;
  font-size: 2.571429rem!important;
}
@media screen and (max-width: 375px) {
  .mobilePhone section.solution .title-cn{
    top: 6.982699%;
    font-size: 1.91429rem;
  }
}
@media screen and (max-width: 420px) {
  .mobilePhone section.solution .title-cn{
    top: 6.982699%;
    font-size: 1.91429rem;
  }
  .mobilePhone .swiper-container section .title-en{
    top: 0.8rem;
  }
  .mobilePhone section.solution {
    height: 50rem;
    overflow: hidden;
  }
  .desktop .swiper-container section.solution .title-cn{
    top: 8%;
  }
}
.mobilePhone .solutions .solution_ul{
  margin-top: 2rem;
}
.mobilePhone .solutions .solution_ul li .item-title p{
  padding-bottom: 1.2rem;
}
.mobilePhone .swiper-container .new_section .title-cn{
  top: 1.982699%!important;
}
.mobilePhone .swiper-container .new_section .title-en{
  top: 0.3rem!important;
}
.mobilePhone .swiper-container  .content-wrapper .content-item .text-wrapper .more_Button{
  margin-left: 2rem;
  margin-top: 1rem;
}
.mobilePhone .address-bg-wrp .content{
  margin-top: -4rem;
  transform: scale(0.5);
  margin-left: -3rem;
}
.mobilePhone .address-bg-wrp .content h3{

}
section.solution .title-cn {
  position: absolute;
  top: 19.98269896%;
  width: 100%;
  letter-spacing: 0.7px;
  color: #1d1d1d;
  text-align: center;
  font-size: 36px;
  font-size: 2.57142857rem;
  z-index: 4;
  -webkit-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
section.solution .title-en {
  position: absolute;
  top: 21%;
  width: 100%;
  letter-spacing: 6.5px;
  color: #b2ceff;
  font-size: 36px;
  font-size: 2.57142857rem;
  text-align: center;
  z-index: 3;
  -webkit-transition: all 2.3s ease 0.6s;
  transition: all 2.3s ease 0.6s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.mobilePhone .about_us .info-main p{
  width: 235px;
}
.mobilePhone .about_us .footer{
  position: relative;
  height: 250px;
}
.mobilePhone .about_us .footer  .able3{
  margin-left: 2.05rem;
}
.mobilePhone .about_us .footer .able1{
   margin-left: 5.6rem!important;
   display: inline-block;
   margin-top: -4.4rem;
 }
.mobilePhone .about_us .footer  .able2{
  display: inline-block;
  margin-top: -4.4rem;
}
section.solution ul {
  position: absolute;
  top: 31.57439446%;
  left: 0;
  width: 100%;
}
section.solution ul li {
  display: inline-block;
  width: 16.875%;
  height: 23.4375%;
  margin: 0 2.44791667%;
  -webkit-transition: all 1.6s ease;
  transition: all 1.6s ease;
}
section.solution ul li:nth-child(1) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: 20.72916667%;
}
section.solution ul li:nth-child(2) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
section.solution ul li:nth-child(3) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  margin-right: 16.66666667%;
}
section.solution ul li .item-container {
  position: relative;
  overflow: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 12px 0px #d3d3d3;
          box-shadow: 0px 2px 12px 0px #d3d3d3;
}
section.solution ul li .item-container .item-bg {
  display: block;
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}
section.solution ul li .item-container .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  opacity: 0;
  z-index: 3;
}
section.solution ul li .item-container .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  padding: 30px;
  color: #fff;
  z-index: 4;
  opacity: 1;
  visibility: hidden;
}
section.solution ul li .item-container .content .icon-logo {
  display: block;
  position: relative;
  top: -50px;
  width: 43.09859155%;
  margin: 0 auto;
  -webkit-transition: top 300ms;
  transition: top 300ms;
}
section.solution ul li .item-container .content .text-wrapper {
  margin-top: 104px;
  -webkit-transition: margin 300ms;
  transition: margin 300ms;
}
section.solution ul li .item-container .content .text-wrapper h3 {
  color: #fff;
  font-weight: bolder;
  font-size: 24px;
  font-size: 1.71428571rem;
}
section.solution ul li .item-container .content .text-wrapper h4 {
  margin: 10px 0 10px -20px;
  font-size: 11px;
  font-size: 0.78571429rem;
  -webkit-transform: scale(0.8) translateX(-12%);
          transform: scale(0.8) translateX(-12%);
}
section.solution ul li .item-container .content .text-wrapper .line {
  display: block;
  position: relative;
  width: 80px;
  height: 2px;
  left: -30px;
  margin-bottom: 15px;
  background-color: #63bfff;
}
@media only screen and (max-width: 1380px){
  section.solution ul li .item-container .content .text-wrapper p {
    line-height: 1.5;
    font-size: 13px;
  }
}
@media only screen and (max-width: 1500px){
  .desktop .text_content{
    height: 2.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 1058px){
  .desktop header .menu{
    right: 10%;
  }
}
@media only screen and (max-width: 1108px){
  .desktop section.news .content-wrapper .content-item .text-wrapper .desc {
    height: 15em;
  }
  .desktop section.news .content-wrapper .content-item .cover-wrapper {
    height: 26rem;
    padding-bottom: 4rem;
  }
  .desktop section.news .content-wrapper .content-item .cover-wrapper img {
    height: 100%;
  }
  .desktop section.news .title-cn{
    font-size: 2.27142857rem;
    top: 22.982699%;
  }
  .desktop section.news .title-en{
    top: 25%;
  }
  .desktop section.solution .title-cn{
    font-size: 2.27142857rem;
    top: 22.982699%;
  }
  .desktop section.solution .title-en{
    top: 25%;
  }
}
header .menu ul li.solution ul:hover{

}
section.solution ul li .item-container .content .text-wrapper p {
  line-height: 1.5rem;
}
section.solution ul li .item-container:hover {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}
section.solution ul li .item-container:hover .mask {
  opacity: 1;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
section.solution ul li .item-container:hover .content {
  visibility: inherit;
}
section.solution ul li .item-container:hover .content .icon-logo {
  top: 0;
}
section.solution ul li .item-container:hover .content .text-wrapper {
  margin-top: 30px;
}
section.solution ul li .item-title {
  z-index: 1;
  width: 100%;
  text-align: center;
  margin-top: 27px;
}
section.solution ul li .item-title p {
  text-align: center;
  letter-spacing: 0.4px;
}
section.solution ul li .item-title .cn {
  font-size: 24px;
  font-weight: bolder;
  color: #323232;
  font-size: 1.71428571rem;
}
section.solution ul li .item-title .en {
  margin-top: 10px;
  color: #a2a2a2;
}
section.solution.show .title-image,
section.solution.show .title-cn,
section.solution.show .title-en,
section.solution.show li {
  -webkit-transform: translateX(0) translateY(0) !important;
          transform: translateX(0) translateY(0) !important;
}
section.solution.show .title-image {
  opacity: 1;
}
section.news {
  background-color: #EEEEEE;
}
section.news .title-image {
  position: absolute;
  top: 12.97577855%;
  left: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 1.8s ease 0.6s;
  transition: all 1.8s ease 0.6s;
  opacity: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  background-color: transparent;
  background-image: url(../images/logo_head_icon.png);
  background-repeat: no-repeat;
  background-size: 7.5em;
  background-position: center bottom;
}
section.news .title-cn {
  position: absolute;
  top: 19.98269896%;
  width: 100%;
  letter-spacing: 0.7px;
  color: #1d1d1d;
  text-align: center;
  font-size: 36px;
  font-size: 2.57142857rem;
  z-index: 4;
  -webkit-transition: all 1s ease 0.3s;
  transition: all 1s ease 0.3s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
section.news .title-en {
  position: absolute;
  top: 21%;
  width: 100%;
  letter-spacing: 6.5px;
  color: #b2ceff;
  font-size: 36px;
  font-size: 2.57142857rem;
  text-align: center;
  z-index: 3;
  -webkit-transition: all 2.3s ease 0.6s;
  transition: all 2.3s ease 0.6s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
section.news .content-wrapper {
  position: absolute;
  top: 31.57439446%;
  left: 18.22916667%;
  width: 63.54166667%;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: -webkit-transform 1.9s ease;
  transition: -webkit-transform 1.9s ease;
  transition: transform 1.9s ease;
  transition: transform 1.9s ease, -webkit-transform 1.9s ease;
  margin: 0 auto;
}
section.news .content-wrapper .content-item {
  display: none;
  width: 100%;
  overflow: hidden;
}
section.news .content-wrapper .content-item.current {
  display: block;
  background-color: #fff;
}
section.news .content-wrapper .content-item .cover-wrapper {
  display: inline-block;
  width: 60%;
  height: 100%;
  height: 0;
  padding-bottom: 35%;
  overflow: hidden;
  /* height: 60%; */
}
section.news .content-wrapper .content-item .cover-wrapper img {
   width: 101%;
}
section.news .content-wrapper .content-item .text-wrapper {
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 38%;
  padding: 25px 12px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
section.news .content-wrapper .content-item .text-wrapper .title {
  font-size: 20px;
  letter-spacing: 3.4px;
  line-height: 1.5;
  color: #1d1d1d;
  width: 100%;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
}
section.news .content-wrapper .content-item .text-wrapper .time {
  margin: 19px 0;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #888888;
}
section.news .content-wrapper .content-item .text-wrapper .desc {
  width: 100%;
  height: 14em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  letter-spacing: 2.2px;
  line-height: 1.5;
  color: #1d1d1d;
}
section.news .content-wrapper .content-item .text-wrapper .more-btn {
  color: #fff;
  width: 172px;
  height: 52px;
  background-color: #005dff;
  border-radius: 5px 5px 5px 5px;
  border: none;
  cursor: pointer;
}
section.news .content-wrapper .news-slide-wrapper {
  position: relative;
  margin-top: 50px;
}
section.news .content-wrapper .news-slide-wrapper .news-slide-prev,
section.news .content-wrapper .news-slide-wrapper .news-slide-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 44px;
  height: 67px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.news .content-wrapper .news-slide-wrapper .news-slide-prev {
  left: 10px;
  background-image: url(../images/prev_icon.png);
}
section.news .content-wrapper .news-slide-wrapper .news-slide-next {
  right: 10px;
  background-image: url(../images/next_icon.png);
}
section.news .content-wrapper .news-slide-wrapper ul {
  width: 80%;
  font-size: 0;
  margin: 0 auto;
}
section.news .content-wrapper .news-slide-wrapper ul li {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 10px;
  width: 20%;
}
section.news .content-wrapper .news-slide-wrapper ul li:hover img,
section.news .content-wrapper .news-slide-wrapper ul li.current img {
  top: -5px;
}
section.news .content-wrapper .news-slide-wrapper ul li img {
  position: relative;
  max-width: 210px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
section.news.show .title-image,
section.news.show .title-cn,
section.news.show .title-en,
section.news.show li,
section.news.show .content-wrapper {
  -webkit-transform: translateX(0) translateY(0) !important;
          transform: translateX(0) translateY(0) !important;
}
section.news.show .title-image {
  opacity: 1;
}
section.about_us {
  background-color: #aaaaaa;
  text-align: center;
}
/* 处理高分辨率 显示器页面问题  */
section.about_us .fp-tableCell {
  display: block;
  /*margin: -50px auto 0 auto;*/
  vertical-align: inherit;
}
section.about_us .address-bg-wrp{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 65%;
  margin: 80px auto 0 auto;
  overflow: hidden;
}
section.about_us .address-bg-wrp li {
  /*-webkit-box-flex: 1;*/
      /*-ms-flex-positive: 1;*/
          flex-grow: 1;
  display: inline-block;
  position: relative;
  width: 33.33%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-color: #aaa;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
section.about_us .address-bg-wrp li .bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-repeat: no-repeat;
  -webkit-background-size: 99.9%;
  background-size: 99.9%;
  background-position: center center;
  transition: all 300ms linear;
  -ms-transition: all 300ms linear;
}
section.about_us .address-bg-wrp li.address-0 .bg {
  background-image: url('../images/hangzhou_0.png');
}
section.about_us .address-bg-wrp li.address-1 .bg {
  background-image: url('../images/nanjing_0.png');
}
section.about_us .address-bg-wrp li.address-2 .bg {
  background-image: url('../images/guigu_0.png');
}
section.about_us .address-bg-wrp li.address-3 .bg {
  background-image: url('../images/shanghai_0.png');
}
section.about_us .address-bg-wrp li.address-0:hover .bg {
  background-image: url('../images/hangzhou.png');
}
section.about_us .address-bg-wrp li.address-1:hover .bg {
  background-image: url('../images/nanjing.png');
}
section.about_us .address-bg-wrp li.address-2:hover .bg {
  background-image: url('../images/guigu.png');
}
section.about_us .address-bg-wrp li.address-3:hover .bg {
  background-image: url('../images/shanghai.png');
}
section.about_us .address-bg-wrp li .bg img {
  width: 100%;
}
section.about_us .address-bg-wrp li:hover .bg img {
  -webkit-filter: inherit;
          filter: inherit;
}
section.about_us .address-bg-wrp li:hover .content {
  top: 50%;
}
section.about_us .address-bg-wrp li > .bg > img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
section.about_us .address-bg-wrp li .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0 12.5%;
  color: #fff;
  -webkit-transition: top 500ms;
  transition: top 500ms;
}
section.about_us .address-bg-wrp li .content h3 {
  color: #ffffff;
  font-size: 1.8rem;
}
section.about_us .address-bg-wrp li .content .line {
  position: relative;
  width: 80px;
  height: 4px;
  background-color: #fff;
  margin-top: 28px;
  margin-bottom: 25px;
}
section.about_us .address-bg-wrp li .content .name {
  font-size: 1.6rem;
  margin-bottom: 17px;
}
section.about_us .address-bg-wrp li .content .address,
section.about_us .address-bg-wrp li .content .tel {
  font-size: 1.1rem;
  margin-bottom: 0.5em;
}

/*inof*/
section.about_us .info {
  position: relative;
  width: 100%;
  height: 20%;
  background-color: #aaa;
  z-index: 3;
}
section.about_us .info .info-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
section.about_us .info .logo {
  padding: 36px 0;
  text-align: center;
}
section.about_us .info .line {
  width: 100%;
  height: 3px;
  margin: 0 auto;
  background-color: transparent;
  background: url(../images/footer_line.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  margin-top: -17px;
}
section.about_us .info p {
  width: 100%;
  margin-top: 12px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

/*footer*/
section.about_us footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 10px 0;
  color: #fff;
  font-size: 12px;
  line-height: 40px;
  background-color: #000;
  z-index: 9;
}
section.about_us footer li {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  vertical-align: top;
}
section.about_us footer ul {
  display: inline-block;
  width: 4em;
  height: 100px;
  margin-top: 5px;
  vertical-align: top;
}
section.about_us footer ul a {
  color: #fff;
}
section.about_us footer li + section.about_us footer li {
  margin-bottom: 10px;
}
section.about_us footer > a, section.about_us footer > span {
  line-height: 100px;
  vertical-align: top;
}
section.about_us footer > a {
  margin: 0 15px;
}

.pagination {
  position: fixed;
  right: 1.5625%;
  width: 14px;
  z-index: 99;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.pagination li {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-bottom: 14px;
  border: solid 2px #fff;
  cursor: pointer;
}
.pagination li a {
  display: block;
  width: 14px;
  height: 14px;
}
.pagination li.active {
  background-color: #fff;
}
header.suspend .menu ul li.current a div.en {
  height: 3px;
  overflow: hidden;
  background: #367a8f;
  width: 50px;
  margin: 8px 0 0 -25px;
  left: 50%;
  opacity: 1;
}

footer {
  float: left;
  width: 100%;
  margin-top: 50px;
}
footer .info {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #aaa;
}
footer .info .logo {
  width: 138px;
  margin: 0 auto;
  padding: 36px 0;
  text-align: center;
}
footer .info .line {
  width: 567px;
  height: 3px;
  margin: 0 auto;
  background: url('../images/footer_line.png');
}
footer .info p {
  width: 100%;
  margin-top: 25px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.footer {
  width: 100%;
  height: 100px;
  padding: 10px 0;
  color: #fff;
  font-size: 12px;
  line-height: 40px;
  background-color: #000;
  z-index: 9;
  text-align: center;
}
.footer li {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  vertical-align: top;
}
.footer ul {
  display: inline-block;
  width: 4em;
  height: 100px;
  margin-top: 5px;
  vertical-align: top;
}
.footer ul a {
  color: #fff;
}
.footer li + .footer li {
  margin-bottom: 10px;
}
.footer > a, .footer > span {
  line-height: 100px;
  vertical-align: top;
}
.footer > a {
  margin: 0 15px;
}
.mobilePhone .footer > .newOurs {
  margin-left: 2rem!important;
}
/*footer a:nth-child(5) {*/
  /*float: right;*/
  /*margin-right: 17.96875%;*/
/*}*/
/*footer a:nth-child(6) {*/
  /*float: right;*/
  /*margin-right: 1.92708333%;*/
/*}*/
/*footer .footer-right{*/
  /*position: absolute;*/
  /*right:10px;*/
  /*top:0px;*/
/*}*/

/*footer .footer-right a{*/
  /*text-align: right;*/
  /*margin:0 0 0 30px;*/
/*}*/

.cover-wrp {
  position: relative;
  width: 100%;
  height: 561px;
  height: 52vh;
  color: #fff;
  text-align: center;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.desktop .center-content .covers{
  height: 40rem;
}
.cover-wrp .icon {
  width: 80%;
  margin: 0 auto;
  max-width: 142px;
}
.cover-wrp .title-wrp {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.cover-wrp .title-wrp .en {
  position: relative;
  top: -10px;
  height: 38px;
  font-family: MicrosoftYaHei-Bold;
  font-size: 48px;
  line-height: 51.5px;
  letter-spacing: 8.6px;
  color: #888888;
  z-index: -1;
  text-align: center;
}
.cover-wrp .title-wrp .cn {
  height: 39px;
  font-family: MicrosoftYaHei-Bold;
  font-size: 40px;
  line-height: 51.5px;
  letter-spacing: 0.8px;
  color: #ffffff;
  text-align: center;
}

.auto-img img{ width: 100%}
.center-content{max-width:1000px; margin: 0 auto}

