.section {
  height: 100vh;
}
.pagination,
.intro-slide-control {
  display: none;
}
body{
  overflow-x: hidden;
}
section.intro .intro-slide-wrapper .intro-slide .text {
  right: 0;
  -webkit-transform: translateY(-50%) scale(0.7, 0.7);
          transform: translateY(-50%) scale(0.7, 0.7);
}
section.intro .intro-slide-wrapper .intro-slide .text {
  right: 0;
  -webkit-transform: translateY(-50%) scale(0.7, 0.7);
          transform: translateY(-50%) scale(0.7, 0.7);
}
section.solution {
  height: 125vh;
  overflow: hidden;
}
section.solution .solution-bg {
  display: none;
}
section.solution ul,
section.solution .title-image,
section.solution .title-cn,
section.solution .title-en {
  position: relative;
}
section.solution .title-image {
  height: 20px;
  margin: 40px auto 0 auto;
  padding-top: 20px;
  background-size: 120px;
  background-position: center bottom;
}
.swiper-container  section.news  .title-image{
  margin: 10px auto 0 auto;
  height: 2rem;
  top:0.975779%;
}
.swiper-container  section  .title-image{
  margin: 10px auto 0 auto;
  height: 2rem;
  top:5.975779%;
}
.desktop  .swiper-container  section  .title-cn{
  font-size: 2.571429rem;
  top: 5.982699%;
}
.desktop .swiper-container section  .title-en{
  font-size: 1.571429rem;
  top: -6%;
}
.swiper-container  section.news  .title-image{
  margin: 10px auto 0 auto;
  height: 2rem;
}
.swiper-container  section.news  .title-cn{
  font-size: 1.571429rem;
  top: -0.017301%;
}
.swiper-container  section.news .content-wrapper{
  top: 19.574394%;
  font-size: 12px;
}
.swiper-container  section.news .content-wrapper p {
  text-indent: 2em;
  font-size: 13px !important;
  letter-spacing: 1px !important;
  overflow: inherit !important;
}
 .swiper-container section.news .content-wrapper .news-slide-wrapper ul{
   display: none;
 }
.swiper-container section.news .content-wrapper .news-slide-wrapper  .news-slide-prev{
  position: absolute;
  left: -3.4rem;
  width: 3rem;
  top: -17rem;
}
.swiper-container section.news .content-wrapper .news-slide-wrapper  .news-slide-next{
  position: absolute;
  right: -3.4rem;
  width: 3rem;
  top: -17rem;
}
.swiper-container section.news .content-wrapper a .more-btn{
  background-color: #005dff!important;
  letter-spacing: 0rem!important;
  width: 9rem!important;
  height: 3rem!important;
  text-decoration: none!important;

}
.swiper-container section.news .content-wrapper .content-item .cover-wrapper{
  display: none;
}
.swiper-container section.news .content-wrapper .content-item .text-wrapper{
  width: 100%;
}
.swiper-container section.news  .title-en{
  font-size: 1.571429rem;
  top: -2rem;
}
.swiper-container  .solution  ul{
  top: 1.574394%;
  margin-top: -10%;
}
.swiper-container  .solution  ul li{
  height: 100%;
  width: 42%;
  margin-left: 3% !important;
  overflow: inherit;
}
.swiper-container  .section  ul li .item-title{
  margin: -76% 5%;
  background: none;
  color: #000;
}
.swiper-container  .section  ul li .item-title .cn{
  color: #000;
}
 .swiper-container  .solution  ul li:nth-child(3){
   margin-top: 58%;
   position: absolute;
   left: 27%;
   top: 29%;
 }
.swiper-container  .solution  ul li:nth-child(3) .item-container{
  margin-top: 1.2rem;
}
.swiper-container .about_us .address-bg-wrp{
  flex-wrap: wrap;
}
.swiper-container .about_us .address-bg-wrp {
  flex-wrap: wrap;
  width: 100%;
  height: 89%;
  overflow: visible;
  margin: 0px auto 0 auto;
}
.swiper-container .about_us .info{
  height: 24%;
}
.swiper-container .about_us .address-bg-wrp li{
  width: 49.33%;
  height: 50%;
}
.swiper-container .news{
  height:40rem;
}
 /*.swiper-container .solution{*/
   /*overflow: -webkit-paged-y;*/
   /*position: relative;*/
   /*padding-top: 1rem;*/
 /*}*/
 .swiper-container  .section  ul li .item-title .en{
  margin-top: -1rem;
}
 .mobilePhone .about_us .info{
   display: none;
 }
.mobilePhone .about_us .footer{
  display: none;
}
section.solution ul li {
  width: 90%;
  height: 300px;
  margin-bottom: 20px;
  margin-left: 5% !important;
  overflow: hidden;
}
section.solution ul li .item-container .mask,
section.solution ul li .item-container .content {
  display: none;
}
section.solution ul li .item-container .item-bg {
  width: 90%;
  margin: 0 5%;
}
section.solution ul li .item-title {
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0%;
  width: 90%;
  padding: 15px 0;
  margin: 0 5%;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
section.solution ul li .item-title .cn {
  font-size: 18px;
  color: #fff;
}
section.news {
  height: auto;
  overflow: hidden;
}
section.news ul,
section.news .title-image,
section.news .title-cn,
section.news .title-en {
  position: relative;
}
section.news .title-image {
  height: 20px;
  margin: 40px auto 0 auto;
  padding-top: 20px;
  background-size: 120px;
  background-position: center bottom;
}
section.news .content-wrapper-mobile .content-item {
  float: none;
  position: relative;
  height: auto;
  background-color: none;
  padding: 10px 20px;
  border-bottom: 5px solid #f7f7f7;
}
section.news .content-wrapper-mobile .content-item .cover-wrapper {
  float: left;
  height: auto;
  margin-right: 10px;
  width: 120px;
}
section.news .content-wrapper-mobile .content-item .time {
  margin-top: 1em;
}
section.news .content-wrapper-mobile .content-item .desc {
  display: none;
}
section.news .content-wrapper-mobile .content-item a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 3px;
  line-height: 34px;
}
section.news .content-wrapper-mobile .content-item a button {
  display: none;
}
section.about_us {
  display: none;

}
.mobilePhone  section.about_us{
  height: 77vh!important;
}
