html, body {
  overflow: inherit !important;
  background-color: #e5e5e5;
}
@media only screen and (max-width: 1024px){
  .desktop .news-list .news-wrp .cover-wrapper{
    width: 359px;
  }
  .desktop .news-list .news-wrp .cover-wrapper img{
    height: 100%;
  }
  .desktop .news-list .news-wrp .text-wrapper{
    width: 436px;
    padding: 34px 38px 0 7px;
  }
  .desktop #main button{
    margin-left: 27%;
    margin-top: 13%;
  }
}
.mobilePhone .new_case{
  height: 12rem;
}
 .mobilePhone .new_news .more-detail{
   margin-left: 6rem;
   margin-top: 1rem!important;
 }
.mobilePhone #main .post{
  margin-top: 0!important;
  margin-right: auto!important;
  margin-bottom: 0px!important;
  margin-left: auto!important;
}
.mobilePhone .new_news .news-list .news-wrp{
  height: 35rem;
  margin: 3rem auto;
  background: #fff;
}
.mobilePhone .new_news .news-list .cover-wrapper{
  height: 13rem;
  padding-top: 1rem;
}
.mobilePhone .new_news .news-list .text-wrapper{
  padding: 1rem 1rem 1rem 1rem;
  width: 100%;
  height: 60%;
}
.mobilePhone .new_news .news-list .text-wrapper h3{
  height: 3em;
  width: 100%;
}
.mobilePhone .new_news .news-list .text-wrapper .desc{
  text-indent: 2em;
  width: 100%;
  height: 42%;
}
.mobilePhone .new_news .news-list .text-wrapper .more-btn{
  color: #005dff!important;
  background-color: #fff!important;;
  border: 1px #005dff solid!important;;
}
.mobilePhone .new_case .title-wrp{
  width: 6rem;
}
.mobilePhone .new_case .title-wrp .cn{
  font-size: 1.4rem;
}
.mobilePhone .new_case .title-wrp .en{
  font-size: 1.4rem;
  top: -1.6rem;
  left: 0.1rem;
}
.mobilePhone .new_news .news-list{
  width: 100%;
}
.mobilePhone .new_news .news-list .cover-wrapper img{
  width: 65%;
}
.cover-wrp {
  background-image: url('../images/news_banner.jpg');
}
.news-list {
  width: 1200px;
  margin: 0 auto;
  min-height: 800px;
  padding: 20px 0 0 0;
}
.news-list .news-wrp {
  width: 100%;
  height: 310px;
  margin: 68px auto;
}
.news-list .news-wrp.current {
  display: block;
  background-color: #fff;
}
.news-list .news-wrp .cover-wrapper {
  float: left;
  display: inline-block;
  width: 537px;
  height: 295px;
  padding-left: 20px;
  overflow: hidden;
}
.news-list .news-wrp .text-wrapper {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 587px;
  height: 295px;
  padding: 34px 38px 0 40px;
  background-color: #fff;

}
.news-list .news-wrp .text-wrapper:hover {
  -webkit-box-shadow: 0px 10px 16px 0px #d3d3d3;
          box-shadow: 0px 10px 16px 0px #d3d3d3;
  background-color: #fff;

}
.news-list .news-wrp .text-wrapper .title {
  font-size: 24px;
  letter-spacing: 3.4px;
  color: #1d1d1d;
  width: 100%;
  height: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-list .news-wrp .text-wrapper .time {
  margin: 19px 0;
  font-size: 16px;
  letter-spacing: 2.2px;
  color: #888888;
}
.news-list .news-wrp .text-wrapper .desc {
  width: 100%;
  height: 3em;
  text-overflow: ellipsis;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 1.5;
  color: #1d1d1d;
}
.news-list .news-wrp .text-wrapper .more-btn {
  width: 172px;
  height: 52px;
  margin-top: 3em;
  color: #005dff;
  background-color: #fff;
  border: 1px #005dff solid;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}
.news-list .news-wrp .text-wrapper .more-btn:hover {
  color: #fff;
  background-color: #005dff;
}
.news-pagination {
  text-align: center;
}
.news-pagination .menu {
  display: inline-block;
}
.news-pagination .menu li {
  display: inline-block;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  margin: 0 6px;
  border: solid 1px #b5b5b5;
  border-radius: 50%;
  cursor: pointer;
}
.news-pagination .menu li.active,
.news-pagination .menu li:hover {
  color: #fff;
  background-color: #63BFFF;
}
.news-pagination .menu li a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.news-pagination .menu li.active a,
.news-pagination .menu li:hover a {
  color: #fff;
}
footer {
  margin-top: 150px;
}
/*新闻详情*/

.post {
  height: 90%;
  padding: 7.3em 2.5em;
  margin: 0 42px;
  background-color: #fff;
}
.post-title {
  font-size: 2.25em;
  line-height: 1.38;
  padding-bottom: 0.3em;
}
.post-create-time {
  color: #808080;
  font-size: .875em;
  padding-bottom: .8em;
}
.post-content strong {
  font-width: bolder;
}
.post-content p {
  margin-bottom: 20px !important;
  line-height: 1.5;
}
.post-content span:first-child {
  margin-left: 2em;
}
.post-content img {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}