body {
    background-color: #EEEEEE;
}
@media only screen and (max-width: 1024px) {
    .desktop .solution-content{
        padding: 4rem 1rem 4rem 1rem!important;
        width: 100%!important;
    }
    .desktop .solution-content p{
        font-size: 1.4675rem;
        line-height: 2.25rem;
    }
    .desktop .tpson_p{
        font-size: 18px;
    }
}
.mobilePhone .center-content .solution-body{
    padding-top: 2rem!important;
}
.mobilePhone .center-content .solution-content{
    flex-wrap: wrap;
}
.mobilePhone .center-content .solution-content .advantage-list{
    margin-top: 1rem;
    width: 50%;
}
.mobilePhone .center-content .solution-content .advantage-list .advantage-li-1{
    margin-bottom: 1rem;
}
.mobilePhone .center-content .func-wrp{
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.mobilePhone .center-content .func-wrp .func-item{
    width: 49%;
    flex: 1;
    flex-grow: 1;
    text-align: center;
}
.mobilePhone .center-content .solution-body{
    padding: 1rem 1rem 1rem 1rem;
}
.mobilePhone .center-content .solution-body p{
    line-height: 1.4rem;
}
.mobilePhone .center-content .solution-body .solution-title{
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-size: 2rem;
}
.mobilePhone .center-content .solution-body .content_img{
    width:100%;
}
.mobilePhone .center-content .func-wrp .func-item:nth-child(2n){
    transform: scale(0.8) translateY(-22%);
    padding-right: 0%;
}
.mobilePhone .center-content .func-wrp .row{
    height: 17rem;
}
.mobilePhone .center-content .con-list-li{
    height: 8rem;
    margin-top: 2rem;
}
.mobilePhone .center-content .con-list-li .con-list-li-img{
    margin-right: 1.1rem;
    float: left;
}
.mobilePhone .center-content .advantage-list1{
    margin-top: 3rem!important;
    width: 100%!important;
}
.mobilePhone .center-content .advantage-list .advantage-li-1{
    float: left;
}
.mobilePhone .center-content .advantage-list .advantage-li-2{
    font-weight: bold;
}
.mobilePhone .center-content .advantage-list .advantage-li-3{
    line-height: 1.3rem;
    text-indent: 2em;
}
.mobilePhone .center-content .con-list-li .con-list-li-text {
    float: none;
    padding: 0px 0rem;
    font-size: 16px;
    line-height: 20px;
    width: 21rem;
    line-height: 1.4rem;
}
.mobilePhone .center-content .func-wrp .func-item:nth-child(2n+1){
    transform: scale(0.8) translateY(-22%);
    padding-left: 0%;
}
.mobilePhone .center-content .solution-content .advantage-list .advantage-li-3{
    font-size: 0.8rem;
    margin-left: 1.2rem;
}
.mobilePhone .solution-body{
    padding-top: 2rem;
}
.mobilePhone .solution-body .solution-content{
    box-sizing: border-box;
    width: 100%!important;
    margin: 0 auto;
    padding: 1rem 1rem 1rem 1rem!important;;
    font-size: 16px;
    line-height: 30px;
}
.mobilePhone .head-title{
    left: -15rem!important;
    width: 26rem;
    height: 4rem;
    background: #63bfff;
    position: absolute;
    top: -2rem;
    color: #ffffff;
    font-size: 2rem;
}
.mobilePhone .head-title .head-title2{
    width: auto;
    font-size: 16px;
     line-height: 1rem;
     margin-top: 1.2rem;
    margin-left: 60%;
}
.mobilePhone .head-title .head-title3{
    width: auto;
    font-size: 12px;
     margin-top: 0px;
    margin-left: 60%;
}
.head-title {
    width: 800px;
    height: 140px;
    background: #63bfff;
    position: absolute;
    top: -70px;
    left: -583px;
    color: #ffffff;
}

.head-title2 {
    width: auto;
    font-size: 30px;
    line-height: 30px;
    margin-top: 38px;
    margin-left: 60%;
}

.head-title3 {
    width: auto;
    font-size: 14px;
    margin-top: 14px;
    margin-left: 60%;
}

.solution-body {
    padding-top: 89px;
}

.solution-title {
    font-size: 28px;
    font-weight: bolder;
    color: #1d1d1d;
    margin-bottom: 40px;
}

.solution-title-line {
    width: 80px;
    height: 4px;
    margin: 10px 0px 10px -40px;
    background-color: #63bfff;
}

.solution-title2 {
    font-size: 12px;
    color: #494949;
}

.solution-content {
    margin: 50px 0;
    font-size: 16px;
    color: #1d1d1d;
    line-height: 22px;
}

.advantage-list {
    width: 25%;
}

.advantage-list4 {
    width: 25%;
    float: left;
}

.advantage-li {
    text-align: center;
}

.advantage-li-1 img {}

.advantage-li-1 {
    margin-bottom: 39px;
}

.advantage-li-2 {
    font-size: 18px;
    font-weight: bolder;
}

.advantage-li-3 {
    display: block;
    box-sizing: border-box;
    width: 80%;
    font-size: 16px;
    color: #1d1d1d;
    margin-top: 20px;
    margin-left: 32px;
    text-align: left;
}

.con-list {
    margin: 40px 0 40px 10px;
}

.con-list-li {
    clear: both;
    height: 130px;
}

.con-list-li-img {
    float: left;
    margin-right: 54px;
}
.solution-content .advantage-list2{
   width: 26%;
}
.con-list-li-text {
    float: left;
    padding: 40px 0;
    font-size: 16px;
    line-height: 20px;
    width: 744px;
}

.con-list-li-text b {
    font-weight: bold;
}

.center-content {}

.center-content li {
    display: inline-block;
    float: left;
    width: 33.33%;
    border-radius: 50%;
}

.center-content .scene {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E5E5;
    padding: 15%;
    margin: 0 auto;
    margin-top: -10%;
}

.screen-wrp {
    text-align: center;
    margin: 0 auto;
}

.scene-item {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 33.33%;
    height: 0;
    font-size: 20px;
    color: #000;
    text-align: center;
    padding-bottom: 33.33%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transform: scale(0.8);
    -ms-transform: scale(0.8);
}

.scene-item.gray {
    background-color: #D2D2D2;
}

.scene-item.blue {
    color: #fff;
    background-color: #2183DC;
}

.scene-item.sky {
    background-color: #63BFFF;
}

.scene-item img {
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.scene-item p {
    margin-top: 73%;
}

.func-wrp {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;
}

.func-item {
    width: 20%;
    text-align: center;
    padding-top: 9%;
}

.func-title {
    color: #0D0D0D;
    font-size: 24px;
    font-weight: bolder;
    line-height: 1.5em;
    margin: 30px auto 10px auto;
}

.func-item p {
    color: #1D1D1D;
    font-size: 15px;
    line-height: 24px;
}