.cover-wrp {
    background-image: url('../images/banner.jpg');
}
.mobilePhone .patent img{
    width: 46%;
}
.mobilePhone .new_case{
    height: 12rem;
}
.mobilePhone .new_case .title-wrp{
    width: 6rem;
}
.mobilePhone .join-list{
    width: 100%;
}
.mobilePhone .new_case .title-wrp .cn{
    font-size: 2rem;
    width: 9rem;
    margin-left: -1.4rem;
}
.mobilePhone .new_case .title-wrp .en{
    font-size: 2rem;
    top: -1.6rem;
    left: -3.1rem;
    width: 13rem;
}